[2014-05-23 16:37] huningxin opened #2 "Add depth unit and range capabilities"
They are depth camera [Capabilities](http://dev.w3.org/2011/webrtc/editor/getusermedia.html#capabilities). For example, a depth camera can sense depth value in 1 mm precision, from 150 mm to 3000 mm.

[2014-05-23 16:39] huningxin opened #3 "Add color and depth camera coordinate projection support."
It is required to enable UC2 in https://www.w3.org/wiki/Media_Capture_Depth_Stream_Extension.

[2014-05-23 16:44] huningxin opened #4 "Specify the depth stream to WebGL uploading"
Upload depth image (Uint16Array, 16bpp) as texture to WebGL.

[2014-05-23 16:45] huningxin commented on #4
One related discussion in WebGL WG is https://www.khronos.org/bugzilla/show_bug.cgi?id=407

[2014-06-17 22:36] robman opened #8 "Ensure the unit constrainable property is specified per the extensibility guidelines"
Do this once the the gUM spec has reached consensus on the new constraints/capabilities model.

[2014-06-18 22:13] robman opened #9 "Need to define in more detail how rgb & d streams are calibrated"
Do we provide an API that gives us access to the underlying camera intrinsics?
Or do we rely on underlying native API's from the depth cameras/SDKs? (not very web-like though)

Broader discussion about camera intrinsics to follow in this issue.

[2014-06-19 23:32] robman commented on #9
See discussion email sent to the public-media-capture list.
http://lists.w3.org/Archives/Public/public-media-capture/2014Jun/0113.html

[2014-07-02 05:36] huningxin opened #11 "Specify the depth value encoding"
Depth cameras usually produce 16-bit depth values per pixel. However, the 16bpp format is not widely adopted and supported in web platforms. One option is to encode the 16-bit depth value into the 3 8-bit channels (RGB) as proposed in [this paper](http://web4.cs.ucl.ac.uk/staff/j.kautz/publications/depth-streaming.pdf). Alternatively, to have depth data accessible in absolute units, such as linear

[2014-07-02 05:39] huningxin opened #12 "Specify the depth stream transmission via WebRTC PeerConnection"

[2014-07-02 05:50] huningxin commented on #11
Another option is current Google Chrome implementation for Tango project. See [this commit](https://src.chromium.org/viewvc/chrome?revision=260798&view=revision) for details. Basically, it right-shifts upper 8-bits and throws away lower 4-bits (Tango phone produces 12-bits depth value). And it encodes this value in Y component of YV12 image format.

[2014-07-03 22:09] huningxin commented on #11
![8bitdepth](https://cloud.githubusercontent.com/assets/1005673/3476322/5eeb18da-02fd-11e4-9a87-16093c76e032.png)
8-bits depth encoding as Chrome for Tango's implementation. The decoder implementation in shader is [here](https://github.com/huningxin/depthcam_three.js/blob/gh-pages/index.html#L81).

![16bitdepth](https://cloud.githubusercontent.com/assets/1005673/3476336/a288731c-02fd-11e4-847a-f8b

[2014-07-07 15:35] huningxin commented on #11
Benjamin Schwartz's comment:

I do not think this kind of arbitrary mapping is appropriate in a W3C standard.  We should arrange for a natural representation instead, with modifications to Canvas and WebGL if necessary.

http://lists.w3.org/Archives/Public/public-media-capture/2014Jul/0087.html

[2014-09-17 13:56] anssiko opened #18 "What happens in addTrack(mst) if mst.kind == 'depth'?"
FPWD CfC feedback from Bernard Aboba from Microsoft http://lists.w3.org/Archives/Public/public-media-capture/2014Sep/0106.html.

[2014-09-22 21:02] huningxin opened #20 "Change DepthData.data to Float32Array"
Pros:
- Provide larger depth value range (unit meter)
- Suitable for WebGL floating-point texture upload (OES_texture_float)
- Suitable for SIMD.js (float32x4) processing

Cons:
- Increase the memory allocation by 2X

[2014-10-30 09:23] anssiko commented on #8
We'll need to expand the following in Section 5.1 if/when Constraints stabilizes:

[2014-10-30 10:02] anssiko opened #27 "What is the minimum set of metadata CameraParameters should expose"
At minimum, the general pinhole camera model have to be calculable. For related discussion, see the Focal length/fov capabilities and general camera intrinsics thread (http://lists.w3.org/Archives/Public/public-media-capture/2014Jun/0113.html).

[Issue copied from the spec into GH issues.]

[2014-10-30 10:03] anssiko opened #28 "Define the algorithms for the createDepthData(), getDepthData(), and putDepthData() methods"
We may want to file bugs against [2DCONTEXT2] to add extension points this specification can hook into to facilitate reuse of common algorithms and avoid monkey patching.

[Issue copied from the spec into GH issues.]

[2014-10-30 10:13] anssiko commented on #28
Thread at http://lists.w3.org/Archives/Public/public-canvas-api/2014OctDec/0021.html seems to suggest we should use http://lists.w3.org/Archives/Public/public-canvas-api/ for feedback with regard to extensions to the CanvasRenderingContext2D interface.

[2014-11-03 00:51] huningxin commented on #20
As discussed:
- Uint16 depth value is closer to what native depth camera produces.
- For WebGL 1.0, UNSIGNED_SHORT_5_6_5 is proposed to upload depth texture.
- Future SIMD.js spec will support uint16x8 processing.

So Uint16 is better option. Close this issue.

[2014-11-03 00:51] #20 closed, assigned to nobody

[2014-11-04 05:45] huningxin commented on #4
https://www.khronos.org/registry/webgl/extensions/proposals/WEBGL_texture_from_depth_video/

[2014-11-04 08:52] anssiko opened #29 "Read back into an existing Uint16Array, instead of allocating a new one each time"
Elsewhere, Kenneth Russell proposed:

Related section: http://w3c.github.io/mediacapture-depth/#depthdata-interface

[2014-11-05 01:52] huningxin opened #31 "Attach a 'WEBRTC' label to all RTC related issues"
As we discussed, we will focus on local user media usage first, then address peerconnection later. So I suggest to create a 'WEBRTC' label and attach to all related issues for later processing.

[2014-11-05 01:54] huningxin opened #32 "Support depth camera in Enumerating Local Media Devices of media capture spec"
http://w3c.github.io/mediacapture-main/getusermedia.html#enumerating-devices

Support `depthinput`in MediaDeviceKind (http://w3c.github.io/mediacapture-main/getusermedia.html#idl-def-MediaDeviceKind)

[2014-11-05 01:55] huningxin commented on #32
This was raised in TPAC session.

[2014-11-05 14:52] anssiko commented on #31
WFM. Please feel free to tag related issues.

[2014-11-06 01:05] huningxin commented on #31
It seems I don't have right the permission to create label and attach.

[2014-11-07 01:08] huningxin commented on #11
I think this is done.
The unsigned short integer is used as the representation of depth value. It is close to what native depth camera produces. And for WebGL 1.0, the RGB/UNSIGNED_SHORT_5_6_5 will be used to upload texture from depth stream (via video), see https://www.khronos.org/registry/webgl/extensions/proposals/WEBGL_texture_from_depth_video.
For depth encoding for transmission in peerconnec

[2014-11-07 01:08] #11 closed, assigned to nobody

[2014-11-07 01:09] huningxin commented on #4
For WebGL 1.0, this is done. Please open another issue for anything need to follow up.

[2014-11-07 01:09] #4 closed, assigned to nobody

[2014-11-07 08:00] anssiko commented on #4
For the record, an informative reference to this WebGL extension was added to the W3C spec in https://github.com/w3c/mediacapture-depth/commit/8482ace0cbccec7f349df24f3b9de7dfefe6a61f

[2014-11-11 10:06] anssiko commented on #28
Rik suggests on [public-canvas-api](http://lists.w3.org/Archives/Public/public-canvas-api/2014OctDec/0034.html) to create a new canvas context type rather than extending the CanvasRenderingContext2D with the new methods.

[2015-01-20 09:57] huningxin opened #38 "Remove [WEBGLDEPTH] reference"
https://www.khronos.org/registry/webgl/extensions/proposals/WEBGL_texture_from_depth_video/
This extension is not valid any more.

[2015-01-20 10:01] huningxin opened #39 "Add combined video and depth Tracks"

[2015-01-20 10:02] huningxin opened #40 "Add sample of 2D Canvas Context based post-processing"

[2015-01-20 10:02] huningxin opened #41 "Add sample of WebGL Shader based post-processing"

[2015-01-21 00:46] huningxin opened #42 "Create "changes since FPWD" for WD1"
Example: http://www.w3.org/TR/vibration/#sotd

[2015-01-21 02:26] huningxin opened #43 "Update MST to make sure srcObject direct assignment supports MST.kind=depth"
reference: http://w3c.github.io/mediacapture-main/getusermedia.html#widl-HTMLMediaElement-srcObject

[2015-01-21 02:33] huningxin opened #44 "Update MST to add CameraIntrinsics through .getSettings()"

[2015-01-21 08:52] anssiko commented on #38
Merged commit https://github.com/w3c/mediacapture-depth/commit/13b06e209872aa9e4e0b4d8f2b953dd3593f129e and marked as closed.

[2015-01-21 08:52] #38 closed, assigned to nobody

[2015-01-21 09:00] anssiko opened #46 "Consider making WebGLRenderingContext interface section informative"

[2015-01-21 09:06] anssiko commented on #46
Merged commit https://github.com/w3c/mediacapture-depth/commit/65f4f25f7867e78f7e4002476defdb40d74868e2

[2015-01-21 09:06] #46 closed, assigned to nobody

[2015-01-21 09:34] anssiko commented on #40
PR https://github.com/w3c/mediacapture-depth/pull/48 to address this.

[2015-01-21 09:44] anssiko commented on #42
@ningxin @robman Please use the comments to document changes since FPWD release (that is, the changes between the latest and the snapshot we released in 7 Oct 2014 http://www.w3.org/TR/2014/WD-mediacapture-depth-20141007/).

I'm happy to craft the actual PR with proposed changes based on your suggestions for changelog, thus assigned to myself.

[2015-01-22 06:34] huningxin commented on #42
@anssiko , thanks for taking this. I will put my comments here once I complete my editing.

[2015-01-22 13:29] #40 closed, assigned to anssiko

[2015-01-22 13:59] #43 closed, assigned to huningxin

[2015-01-22 14:16] #39 closed, assigned to nobody

[2015-01-22 14:31] #41 closed, assigned to huningxin

[2015-01-23 01:34] huningxin commented on #42
- Remove DepthImage interface
- Add depth video support into CanvasImageSource typedef
- Add depth value presentation into ImageData interface
- Add depth track support into Direct Assignment to Media Elements
- Add depth video uploading as texture support into WebGLRenderingContext interface
- Add combined video and depth tracks section
- Add a WebGL Fragment Shader based post-processing example

[2015-01-23 05:40] robman commented on #27
I've done quite a bit of work reviewing the maths on this to make sure we really are covering all the needs for the pinhole camera model.
http://en.wikipedia.org/wiki/Pinhole_camera_model

Interestingly Tango have an excellent page on their API here.
https://developers.google.com/project-tango/overview/intrinsics-extrinsics

This is obviously different from the Android API for example.
http://deve

[2015-01-23 05:40] #27 closed, assigned to nobody

[2015-01-23 05:41] #44 closed, assigned to robman

[2015-01-23 05:58] robman opened #55 "Separate issues into #phase1 and #phase2"
And also close off any old issues that aren't relevant any more.

[2015-01-23 06:02] robman commented on #32
We'll deal with this in phase2.

[2015-01-23 06:02] robman commented on #29
We'll deal with this in phase2.

[2015-01-23 06:03] robman commented on #28
Basically addressed in phase1.
More detailed handling of this will be defined as part of the DepthData object in phase2.

[2015-01-23 06:03] #28 closed, assigned to nobody

[2015-01-23 06:06] robman commented on #18
For phase1 this would probably throw an error.

Of course under phase1 you could also use srcObject to cast a kind=depth to kind=video - but as far as I'm aware you still can't get a stream back out of an HTMLVideoElement once you've cast it - so you can't then use it in addTrack.

If you could then the (RG)BA data would be sent like any normal video stream - however the 16 bit depth values will m

[2015-01-23 06:06] #18 closed, assigned to nobody

[2015-01-23 06:07] robman commented on #12
We'll deal with this in phase2.

See issue #18 for more information too.

[2015-01-23 06:07] #12 closed, assigned to nobody

[2015-01-23 06:08] robman commented on #9
This has been essentially dealt with in phase1.

We'll deal with this in more detail in phase2.

[2015-01-23 06:08] #9 closed, assigned to nobody

[2015-01-23 06:08] robman commented on #8
We'll deal with this in phase2.

[2015-01-23 06:10] robman commented on #3
I'm pretty sure this is covered by the {video:true, depth:true} and the CameraIntrinsics work in phase1.

[2015-01-23 06:10] #3 closed, assigned to nobody

[2015-01-23 06:10] robman commented on #2
We'll deal with this in phase2.

[2015-01-23 06:19] robman commented on #42
- Added CameraIntrinsics extension to MediaStreamTrack's getSettings (IANA? - Also see issue #27 for background maths info)
- Split first Terminology point into 2 and included reference to Constrainable Pattern
- Minor updates to 2D Canvas Example and general text

[2015-01-23 08:59] kenchris opened #56 "View angle sounds weird, and it probably should be 'viewing angle' instead"
SSIA (subject says it all)

[2015-01-23 09:02] kenchris opened #57 "Improve examples"
According to Marcos it is fine to use ES15 in specs, like 'let' in loops and => instead of functions.

Also s/reason/err/ in the promise catch. And write out gUM. it is not obvious what that is, and examples should be obvious

[2015-01-23 10:09] robman commented on #56
Actually Field of View is probably the more standard term in the Computer Vision domain.
http://en.wikipedia.org/wiki/Field_of_view

So I'd be happier with horizontalFieldOfView and verticalFieldOfView.

[2015-01-23 10:47] kenchris commented on #56
That sounds good to me

[2015-01-23 14:55] anssiko commented on #42
Thanks for outlining the changes. This issues is now closed via https://github.com/w3c/mediacapture-depth/pull/62

[2015-01-23 14:55] #42 closed, assigned to anssiko

[2015-02-07 07:15] #31 closed, assigned to nobody

[2015-02-07 07:19] huningxin opened #66 "Add DepthMap interface"
[code]

[2015-02-07 07:21] huningxin opened #67 "Add depth context of HTML canvas element"

[2015-02-07 07:23] huningxin commented on #66
Reference: https://developers.google.com/depthmap-metadata/reference

[2015-02-22 19:37] robman opened #69 "Making Track definition more explicit and an extension of MCAS's definition"
The relationship between MediaStreamTracks and HTMLVideoElement VideoTracks and AudioTracks wasn't 100% clear. The MCAS spec seems to have cleared this up quite a bit now.

  For each MediaStreamTrack in the MediaStream , including those that
  are added after the User Agent enters the media element load
  algorithm, the User Agent MUST create a corresponding AudioTrack or
  VideoTrack as defined

[2015-02-23 14:31] ds-hwang opened #71 "Define constraint between video and depthVideo."
Look at the example of 2D canvas.

[code]

After read, I have two questions,
1. Can depthVideo.onloadedmetadata() make sure if onloadedmetadata of `video` is called?
2. What's happen if user doesn't call play() method of one of two video?

My gut feels that code should be expressed more clearly that both video play synchronously.

[2015-02-23 14:35] ds-hwang commented on #67
could you point out mailing list or discussion related to this issue?

[2015-02-23 15:59] anssiko commented on #67
I think the proposal can be attributed to Rik: https://lists.w3.org/Archives/Public/public-canvas-api/2014OctDec/0034.html

[2015-02-25 08:26] huningxin opened #72 "Add more depth relevant attributes into Settings interface"
Reference is: https://developers.google.com/depthmap-metadata/reference

Proposal is:

[code]

[2015-02-25 08:32] huningxin opened #73 "Extend ImageData to support depth data"
Reference is: https://developers.google.com/depthmap-metadata/reference

The proposal is:

[code]

Sample code sketch is:

[code]

[2015-02-25 12:41] ds-hwang commented on #73
The example requires huge hack in canvas, because getImageData() intend to read back from framebuffer and the framebuffer don't have depth component in general.

[code]

Let me change the proposal a bit using existing [mediacapture image spec](http://w3c.github.io/mediacapture-image/index.html#repeated-grabbing-of-a-frame)

[code]

The example is very similar to the example in mediacapture image s

[2015-02-25 21:03] robman commented on #73
Hi Dongseong,

I really like the elegance of your "format" suggestion...but this won't
allow us to have both pixels and dexels in one calibrated object - I
think @ningxin mentioned this at the end of his last email.

Do you have any thoughts on how this might work?

roBman

On 25/02/15 11:41 PM, Dongseong Hwang wrote:

[2015-02-26 03:13] huningxin commented on #73
As my understanding, `imageData.depth_data` is a kind of metadata and not used for rendering. So it doesn't require framebuffer has depth component and big modifications to canvas context 2d implementation.

IMO, it needs to extend canvas context 2d and html video to support:
1. when `drawImage` is invoked, canvas is able to draw depth video track besides rgb video track.
   1. The drawing of rgb

[2015-02-26 03:36] robman commented on #73
+1 8)

On 26/02/15 2:13 PM, Ningxin Hu wrote:

roBman

[2015-02-26 08:16] ds-hwang commented on #73
The implementation is possible but canvas author won't like this idea.

Canvas have to keep the depth frame in temporary buffer. It's not related to any functionality of canvas.

If getImageData is not invoked, how long canvas should keep the temporary buffer?

In addition, video element containing both video track and depth track is also problematic.

[code]

because
1.  from implementation persp

[2015-02-27 03:22] robman commented on #73
Some 16 bit format (e.g. LUMINANCE16) would be ideal. But at the moment for phase1 we're just using the standard 32 bit RGBA type and we put the depth data in the R and G channels. This is pragmatic because it works with the existing drawImage/getImageData RGBA focused model.

By extending HTMLVideoElement.srcObject() to allow us to cast MST.kind=depth to (VideoTrack.kind=main && VideoTrack.select

[2015-02-27 08:49] anssiko opened #75 "Update implementation considerations re track synchronization and calibration"
Currently we have the following non-normative section in the spec: http://w3c.github.io/mediacapture-depth/#implementation-considerations

With the currently defined API we can create a depth-only MediaStream `s2` out of the combined "RGB and depth" MediaStream `s` and assign `s2` to `<video>` element `v` as follows:

[code]

Any implementability issues in keeping the RGB stream synchronized and c

[2015-03-02 06:53] ds-hwang commented on #73
We should decide either of
1. HTMLVideoElement containing both video and depth track
2. HTMLVideoElement containing either video or depth track

Supporting both would make confusion. From implementation view, option 1 causes huge changes.

I think Canvas spec owner disagree on this change. The API looks weird. We should get the value from HTMLVideoElement or depth track directly.

[2015-03-04 07:37] huningxin opened #76 "Extend Mediastream Image Capture to support depth track"
The proposal is:

[code]
1. Modify the ImageCapture to take MediaStream object which may carry both video track and depth track.
2. Extend the FrameGrabEvent to include DepthMap object which is filled based on depth track when grabbing. The DepthMap interface is defined in https://github.com/w3c/mediacapture-depth/issues/66.

The sample code sketch looks like:

[code]

[2015-03-04 07:47] huningxin commented on #73
Extending [mediacapture image spec](http://w3c.github.io/mediacapture-image/index.html#repeated-grabbing-of-a-frame) looks like a good alternative. Based on @ds-hwang 's idea, I put together a proposal as https://github.com/w3c/mediacapture-depth/issues/76. @robman @ds-hwang , please take a look there. Thanks!

[2015-03-04 15:14] ds-hwang commented on #76
looks nice!

[2015-03-04 16:41] ds-hwang commented on #75
First of all, we must need to support split into two MediaStreams, because some cases only need depth stream and others only need video stream. For example, gesture control needs only depth stream, and someone uses RealSense as just cam.
Furthermore, we want it possible to draw depth stream on video element, which means some cases want to make video element draw depth stream and others  want to ma

[2015-03-05 01:28] huningxin commented on #67
As we made consensus on this one, can i close it?

[2015-03-05 03:11] huningxin commented on #75
Combined stream is for LMD4 and LMD5. As my understanding, the splitting into two MediaStreams is a workaround that we didn't have API extension to extract both rgb image and depth image from the combined stream. One attempt is https://github.com/w3c/mediacapture-depth/issues/73 which extends video&canvas pipeline. Another attempt is https://github.com/w3c/mediacapture-depth/issues/76 which extend

[2015-03-05 06:35] ds-hwang commented on #67
+1

[2015-03-05 07:08] huningxin commented on #76
@robman @anssiko , please take a look. Thanks!

[2015-03-05 07:13] ds-hwang commented on #75
ah, that's right. so, why do we need to support split into two MediaStreams? @anssiko

[2015-03-05 09:40] anssiko commented on #75
This is not a requirement in order to implement the use cases identified, since the standalone RGB and depth streams can be requested separately as @huningxin noted, but rather an API consistency issue. Web developers can split RGB-only `MediaStream` that contains multiple video tracks as follows:

[code]

And they likely expect the same to work for RGB+depth, but using the `getDepthTracks()` that

[2015-03-05 11:59] anssiko commented on #76
Thanks @huningxin for the proposal!

Since the `ImageCapture` constructor takes `MediaStreamTrack` as an argument, and not `MediaStream`, would it make sense to define a separate `DepthCapture` constructor instead that takes `MediaStreamTrack` as an argument and behaves as follows (similarly to mediacapture-image, but for "depth" instead of "video"):

Alternatively `DepthCapture`and `ImageCapture`

[2015-03-05 14:45] anssiko commented on #76
Noting the `mediastream.getDepthTracks()[0].getPixels()` proposal is functionally equivalent, but synchronous, see: https://github.com/w3c/mediacapture-depth/pull/68#issuecomment-75951586

[2015-03-05 14:46] anssiko commented on #67
Please feel free to close this, I closed the related PR https://github.com/w3c/mediacapture-depth/pull/68

[2015-03-05 16:10] anssiko commented on #73
@robman said:

@robman With newly minted http://w3c.github.io/mediacapture-fromelement/ you can do that.

@huningxin Can we close this i.e. does https://github.com/w3c/mediacapture-depth/issues/76 cover all the relevant bits discussed here?

[2015-03-09 12:28] anssiko commented on #76
I'd like to get to a resolution which way to go for getting a depth map when given a depth track:

1) async API a la mediacapture-image
2) sync API  such as `getPixels()`
3) return a [ReadableStream](https://streams.spec.whatwg.org/#rs-class) from which each frame can be read

For consistency, should coordinate with mediacapture-image.

Only 3 guarantees each frame can be read.

@ds-hwang You ment

[2015-03-09 14:39] huningxin commented on #76
I suspect using `Promise.all` doesn't address aligned (a.k.a synchronized) video and depth stream use case.

In native camera SDK, such as Intel RealSense SDK and KinectSDK, it usually supports to capture the aligned video image and depth image (captured at same time) by one API call or one callback. The next call or callback probably results different frames. As video capture is continuous and in

[2015-03-17 08:39] anssiko commented on #76
[@robman indicated he has detailed feedback, but due to travel will be able to get to this in ~2 weeks from now.]

[2015-03-26 14:33] anssiko commented on #72
It seems we should expose `Settings` via the `ImageCapture` interface and reuse the accessors it provides.

I suggested changes to the accessors of the mediacapture-image, see: https://lists.w3.org/Archives/Public/public-media-capture/2015Mar/0048.html We should update http://w3c.github.io/mediacapture-depth/#settings-dictionary accordingly when the suggested changes land to the mediacapture-image

[2015-04-23 13:21] #69 closed, assigned to nobody

[2015-04-23 13:22] #67 closed, assigned to nobody

[2015-04-23 13:23] #56 closed, assigned to nobody

[2015-05-13 10:48] anssiko commented on #76
Closed via https://github.com/w3c/mediacapture-depth/pull/77

[2015-05-13 10:48] #76 closed, assigned to nobody

[2015-05-13 10:48] anssiko commented on #73
Closed via https://github.com/w3c/mediacapture-depth/pull/77

[2015-05-13 10:48] #73 closed, assigned to nobody

[2015-05-13 10:49] anssiko commented on #72
Closed via https://github.com/w3c/mediacapture-depth/pull/77

[2015-05-13 10:49] #72 closed, assigned to nobody

[2015-05-13 10:49] anssiko commented on #66
Closed via https://github.com/w3c/mediacapture-depth/pull/77

[2015-05-13 10:49] #66 closed, assigned to nobody

[2015-06-08 07:51] anssiko opened #78 "Use VideoWorker and extend ImageBitmap to support depth"
We may want to replace `ImageData` and `DepthMap` with `ImageBitmap` to make use of the [mediacapture-worker](https://w3c.github.io/mediacapture-worker/) and [imagebitmap-extensions](https://w3c.github.io/mediacapture-worker/#imagebitmap-extensions) for depth data processing.

Some tasks we'd need to do if we go down this path:
- [x] Deprecate `DepthMap`
- [x] Use `ImageBitmap` with DEPTH ImageFor

[2015-06-08 08:40] huningxin commented on #78
@anssiko , thanks for opening this ticket. I suppose

should be "instead of `DepthMap` for depth map in FrameData".

[2015-06-08 08:40] huningxin commented on #78
Sorry to close it by accident. Re-open it.

[2015-06-08 10:49] anssiko commented on #78
@huningxin Thanks, fixed. Please feel free to create specific issues for concrete tasks and add them as dependencies (by simply referring #78 in task specific issues).

[2015-06-11 12:15] anssiko opened #79 "Align with WebVR where/if it makes sense"
http://mozvr.github.io/webvr-spec/webvr.html#vreyeparameters

http://mozvr.github.io/webvr-spec/webvr.html#vrfieldofview0

We should see if it makes sense to align the naming and/or the API shape:

http://w3c.github.io/mediacapture-depth/#mediatracksettings-dictionary

[2015-06-11 13:47] robman commented on #79
While they're conceptually related they're really different descriptions.

The model we've used in mediacapture-depth is aligned with common use in
Computer Vision and it's goal is to allow us to describe the sensor's
field of view in the real space in front of it.

The model used in the WebVR spec is more about how the user's eyes
interact with the displays from the virtual camera/s to generate t

[2015-06-11 13:49] robman opened #80 "Need measureType for accurate reprojection"
The discussion in #77 did highlight that this IS necessary - yet it got dropped 8(
See:
https://github.com/w3c/mediacapture-depth/pull/77#issuecomment-97066083
https://github.com/w3c/mediacapture-depth/pull/77#issuecomment-97083537

[2015-06-12 08:12] anssiko commented on #79
@robman Thanks for summarizing the differences between the VR and CV models. I'll close this issue.

FYI @vvuk and @toji.

[2015-06-12 08:12] #79 closed, assigned to nobody

[2015-06-12 08:19] anssiko commented on #80
We should bring `measureType` back if:
- there is a good use case for it
- multiple independent implementations are able to provide such information

[2015-09-07 12:32] anssiko commented on #78
The procedural things blocking this issue from progressing have been cleared:
- [x] The [mediacapture-worker](https://w3c.github.io/mediacapture-worker/) has been migrated to a [repo under the W3C GH org](https://github.com/w3c/mediacapture-worker) and the [imagebitmap-extensions](https://w3c.github.io/mediacapture-worker/#imagebitmap-extensions) was merged into the mediacapture-worker (see [PR](h

[2015-09-15 07:33] anssiko opened #81 "Editorial: Use Contiguous IDL"
https://www.w3.org/respec/guide.html#contiguous-idl
https://www.w3.org/respec/examples/webidl-contiguous.html

[2015-09-16 12:58] #81 closed, assigned to nobody

[2015-09-17 08:47] ChiahungTai opened #83 "Are enum VideoFacingModeEnum enough for future depth camera application"
I think current VideoFacingModeEnum will not be enough in HoloLen-like case.
HoloLen has two depth camera. Left and right from their HMD. So does that make sense to have something like "environment left/right"?
@anssiko, @huningxin how do you think?

[2015-09-17 08:56] anssiko commented on #83
If devices like HoloLens will proliferate we certainly need to extend the `VideoFacingModeEnum` to support the use cases such devices enable.

For the more mainstream devices with just a single depth camera the current `"user"` and `"environment"` should be fine for a while, I believe.

Naming the enum values is not so trivial actually. There's a good related discussion in the context of sensor AP

[2015-09-22 11:02] ChiahungTai commented on #83
I think we could ship v1 of [3] with the current VideoFacingModeEnum and look into adding more enum values in a future release. Because there is no HoloLens sdk documents available now, so it's hard to predict what is the best choice.

[2015-09-22 14:41] anssiko commented on #78
Before updating the spec itself, I thought it might be a good idea to investigate how the mediacapture-worker with mediacapture-depth would look like from the web developers' point of view (to take API ergonomics into consideration).

Let's take the following use case and try to implement it in JavaScript:
- Acquire RGB and depth stream from a device camera, do some processing on the depth stream

[2015-09-23 07:59] ChiahungTai commented on #78
Looks good to me! Just make sure depthMapToGrayscale(input) will return a new ImageBitmap.

[2015-09-23 08:33] anssiko commented on #78
@ChiahungTai Thanks! With this example I wanted to get a feel how a "hello world" style example would look like in comparison to the earlier attempt where all the depth processing is done on the main thread: http://w3c.github.io/mediacapture-depth/#examples

@huningxin Could you look at how a web developer might implement `depthMapToGrayscale(input)` to complete the example, and note any gaps or i

[2015-09-24 03:53] ChiahungTai commented on #78
@anssiko,
Just give you some information, the WebGL on worker is almost landed its first version. It will not be shipped right now. But there are some follow-up bugs will deal with it. And also the Chrome team send an email to the implementer in Mozilla TW to know the implementation challenge. In Mozilla GFX team, they also try to enable CanvasRenderingContext2D on worker. According to their asses

[2015-09-24 08:32] anssiko commented on #78
@ChiahungTai Thanks for the information. It sounds like the implementations are getting aligned in terms of new APIs exposed to workers. Given this development and direction, I suggest we expose depth to the worker context only. Us mediacapture-depth editors will start to evolve the spec to that direction soon.

[2015-11-10 11:20] anssiko commented on #29
`getDepthData()` and `DepthData` have been deprecated and are reworked, closing.

[2015-11-10 11:20] #29 closed, assigned to nobody

[2015-11-10 11:22] anssiko commented on #2
Addressed by:
http://w3c.github.io/mediacapture-depth/#dom-mediatrackconstraints-unit
http://w3c.github.io/mediacapture-depth/#dom-mediatracksettings-near
http://w3c.github.io/mediacapture-depth/#dom-mediatracksettings-far

[2015-11-10 11:22] #2 closed, assigned to nobody

[2015-11-10 11:24] anssiko commented on #80
I'll close this. We can revisit this when we are aware of multiple independent implementations that are able to support `measureType`.

[2015-11-10 11:26] anssiko commented on #55
I closed old issues that were not relevant anymore, including this issue.

[2015-11-10 11:26] #55 closed, assigned to nobody

[2015-11-10 11:30] anssiko commented on #78
The processing model of mediacapture-worker is being discussed, thus any related changes to mediacapture-depth must sync with https://github.com/w3c/mediacapture-worker/issues/20

[2015-11-13 05:56] bbernhar commented on #75
@huningxin
What is the use-case for where it is beneficial for a depth-stream to be wired to a &lt;video&gt; (e.g. a user wants a live feed of the depth-stream)? It seems that existing capture mechanisms can accomplish this indirectly and would avoid a separate rendering implementation where a source is not provided through the existing native media API.

[2015-11-18 13:18] anssiko commented on #75
@bbernhar thanks for revisiting this issue. IIRC the rationale for including the [direct assignment to media elements](https://w3c.github.io/mediacapture-depth/#direct-assignment-to-media-elements) section was to enable similar API behavior regardless of what kind of tracks the `MediaStream` contains (as spec'd in [MediaStreams in Media Elements](http://w3c.github.io/mediacapture-main/getusermedia

[2015-11-19 01:28] huningxin commented on #75
@bbernhar @anssiko , thanks for revisiting this!

I would argue to keep the [direct assignment to media elements](https://w3c.github.io/mediacapture-depth/#direct-assignment-to-media-elements).

The use case is depth camera preview. It would be a good utility, not only for developers but also for end users, to get the live feedback of what the depth camera is capturing. When you check the existing

[2015-11-19 04:20] bbernhar commented on #75
@huningxin , of course :)

This use case can be already accomplished through indirect capture. Even so, it's only been rationalized as convenient for illustrative purposes. Equivalently could be shown through samples of our own. There remains a continuity argument for consistent API usage but it isn't for free.

Whether or not a depth stream is a preview or directly wired, it does not limit us in

[2015-11-19 09:03] huningxin commented on #75
I am open for a performant capture mechanism for depth stream. Actually, this is the reason we turn to depend on video-worker spec. However, as my understanding, they are all for depth track post-processing. To display a depth track, direct assignment to a &lt;video&gt; looks straightforward. Let's say video track, I expect even with video-worker shipped, developers will still use &lt;video&gt; fo

[2015-11-19 09:03] huningxin commented on #75
BTW, @bbernhar , I am interested in your ideas about the capture mechanism without a video worker. Could you share more?

[2015-11-19 09:09] anssiko commented on #75
@huningxin I just noticed that if we continue to allow direct assignment to media elements, then we also need to specify how does the `ImageData` object returned by the `getImageData()`method look like in the depth case. As you remember, we dropped the [CanvasRenderingContext2D extensions](http://www.w3.org/TR/2014/WD-mediacapture-depth-20141007/#canvasrenderingcontext2d-interface) we had in an ea

[2015-11-19 09:11] anssiko commented on #75
@bbernhar please feel free to open a new issue for discussing an incubating the idea for "allowing capture without a video-worker".

[2015-11-19 09:26] huningxin commented on #75
If I remember correctly, the issue is that we proposed to extend CanvasRenderingContext2D to suport 16bit depth data. Obviously, canvas folks only want to suppose RGBA format. So we get pushed back.

But for grayscaled depth video, there is no such issue.

For your cases:

No. This should draw a grayscaled depth image.

Agree. This should only draw the color image.

[2015-11-19 09:40] anssiko commented on #75
@huningxin I think you recall the concerns from the canvas folks correctly.

I'd be fine with this. Then we just need to define the depth mapping to grayscale in mediacapture-depth.

For advanced use cases that require more precision and/or better performance, web developers should use mediacapture-worker instead.

This would allow implementations to choose to implement only mediacapture-depth for

[2015-11-19 12:52] huningxin commented on #75
I think we can refer to https://developers.google.com/depthmap-metadata/encoding and https://software.intel.com/sites/default/files/managed/2a/f2/XDM-Specification.pdf for the detph value 8-bits encoding:

"
Two different formats are currently supported: RangeLinear and RangeInverse. RangeInverse is the recommended format if the depthmap will lose precision when encoded, e.g. when converting from

[2015-11-19 14:06] anssiko commented on #75
@huningxin Looks good. For mapping depth to the range 0..255 to be used in the `ImageData` grayscale representation, I suggest we add something like the following to the spec:

The _algorithm to convert a depth map value to the range 0..255_, given a depth map value _d_, is as follows:
- Let _bit depth_ be the bit depth of the depth map.
- Let _near_ be the the minimum range of that depth map.
- L

[2015-11-19 17:55] bbernhar commented on #75
@huningxin

It does on the surface but wouldn't this imply a video element that was assigned to a depth stream could perform operations such as playback? Not all sources are provided through the same existing native media API and would require a separate rendering implementation just to allow this. Maybe we could restrict rendering operations needed for capture for depth streams that only contain

[2015-11-20 04:49] huningxin commented on #75
@anssiko

 +1

The `near` and `far` should be defined depth sensor's capability. They should be exposed as depth camera settings where we defined in [MediaTrackSettings ](http://w3c.github.io/mediacapture-depth/#mediatracksettings-dictionary). If `near` and `far` are depth map specific, there are no places to store them. Thus developers cannot recover the depth value.

Then we need to add the `for

[2015-11-20 05:07] huningxin commented on #75
@bbernhar

I think it should have same behavior as video track assignment to video element.

Agree. That aligns with the idea we talked in https://github.com/w3c/mediacapture-depth/issues/75#issuecomment-157999770 as
- if media stream contains depth track only, draw the grayscaled depth map with defined algorithm
- if media stream contains both video and depth track, only draw the color video fram

[2015-11-20 06:36] bbernhar commented on #75
To summarize in code...

[code]

This would allow post-processing of depth without workers and through direct assignment on an existing combined media stream. It requires a cloned depth-only media stream that is capture-only (no playback).

[code]

Similar to above but doesn't require a combined media stream or indirection for capture through canvas.

@huningxin, @anssiko WDYT?

[2015-11-20 06:57] huningxin commented on #75
@bbernhar , code is always helpful!

I don't quite get the reasons that `depthVideo` direct playback is NOT allowed. However the `resultDepthVideo` direct playback is allowed.

To me, it is not good to depend on mediacapture-worker to do the depth video playback.

Others look perfect to me.

[2015-11-20 07:44] bbernhar commented on #75
@huningxin

I'll further clarify. :)

If the implementation does not use the same pipeline to provide both video and depth frames, there isn't a similar native way for playback and a separate rendering implementation is required. Video workers accomplishes this, but it's an unnecessary requirement given our use-cases are similarly achieved without. So, it seems more approachable to only require a

[2015-11-20 08:35] huningxin commented on #75
@bbernhar , for your information, In my early Chromium prototype (https://github.com/huningxin/chromium-crosswalk/blob/depth_stream/media/video/capture/win/video_capture_device_pxc_win.cc#L517), it converts the depth map to grayscaled RGBA image in video capture device immediately after capturing, then feed the grayscale image into exact media pipeline for playback. It doesn't require to modify me

[2015-11-23 15:34] anssiko commented on #75
Updated the PR https://github.com/w3c/mediacapture-depth/pull/86 per recent discussion in this thread:
https://github.com/anssiko/mediacapture-depth/commit/94689731a917db26e3e06c1f35c5098ce38c9075

[2015-11-25 13:24] anssiko commented on #75
Hearing no concerns, I merged https://github.com/w3c/mediacapture-depth/pull/86

I will close this issue. Please let me know if you think this should be reopened.

[2015-11-25 13:24] #75 closed, assigned to nobody

[2015-11-27 09:48] anssiko commented on #78
I added the following explanation of the relationship with mediacapture-worker to Introduction:

Feel free to improve the text as needed. Perhaps we should also mention the performance penalty that is incurred if the video+canvas indirection is used?

https://w3c.github.io/mediacapture-depth/#introduction

[2015-11-30 01:37] huningxin opened #88 "Align the WebGL example to gray-scaled depth video"
If the example is using format `RGB` and type `UNSIGNED_BYTE` for depth video uploading:

[code]

The fragment-shader should deal with the gray-scaled depth value.

[code]

With WebGL 2.0, it might be able to use `R16` to upload depth map texture in `UNSIGNED_SHORT`.

[2015-11-30 02:00] huningxin commented on #78
@anssiko , thanks for the editing! It looks fine to me.

+1. The redundant &lt;video&gt;, &lt;canvas&gt; and depth-to-grayscale color conversion are exact what   [MEDIACAPTURE-WORKER] will resolve.

[2015-11-30 02:50] ChiahungTai commented on #78
Looks good to me.
If we use ImageBitmap instead of ImageData and 2DCanvas, that might be easier for WebGL integration too.

[2015-11-30 13:24] anssiko commented on #78
Thanks, I elaborated the intro a bit to note the benefits of not needing to use video+canvas indirection: https://github.com/w3c/mediacapture-depth/commit/a4b316eecbb5762c8f765fe6b3bfaa64a92edbd7

[2015-11-30 13:37] anssiko commented on #88
@huningxin Thanks, I updated the spec with credits to you: https://github.com/w3c/mediacapture-depth/commit/cc131f8a6175eaba2ecbb7afb7cfb2319e74866e

[2015-11-30 13:37] #88 closed, assigned to nobody

[2015-11-30 14:26] anssiko opened #89 "Publish a new Working Draft"
We should publish a new Working Draft. Here are the process steps:

To publish a [revision of a Working draft](http://www.w3.org/2015/Process-20150901/#revised-wd), a Working Group
- [x] must record the group's decision to request publication. Consensus is not required, as this is a procedural step,
- [x] must provide public documentation of substantive changes to the technical report since the pr

[2015-11-30 15:15] anssiko commented on #89
[W3C Working Draft 08 December 2015](https://w3c.github.io/mediacapture-depth/releases/WD2.html) snapshot created:
- Pass [Pubrules Checker](https://labs.w3.org/pubrules/?url=https%3A%2F%2Fw3c.github.io%2Fmediacapture-depth%2Freleases%2FWD2.html&profile=WD&validation=simple-validation&noRecTrack=false&informativeOnly=false&echidnaReady=false&patentPolicy=pp2004&processDocument=2015)
- Pass [Link C

[2015-11-30 15:25] anssiko commented on #89
The [mail sent to the list](https://lists.w3.org/Archives/Public/public-media-capture/2015Nov/0050.html) serves as the group's decision to request publication. With that, we've ticked all the boxes required by the process for a new Working Draft publication.

[2015-12-01 01:57] huningxin commented on #89
All looks great to me. Thanks much, @anssiko !

[2015-12-08 09:44] anssiko commented on #89
The new Working Draft has now been published:
http://www.w3.org/TR/2015/WD-mediacapture-depth-20151208/

[2015-12-08 09:44] #89 closed, assigned to nobody

[2015-12-08 09:54] anssiko opened #92 "Review and implement the proposed extensibility guidelines"
Based on discussion at https://github.com/w3c/mediacapture-main/issues/244 a proposal for extensibility section for the mediacapture-main has now been drafted: https://lists.w3.org/Archives/Public/public-media-capture/2015Dec/0009.html

We should review the proposal, apply the guidelines for this spec, and provide feedback to the group to help improve the extensibility section accordingly.

[2015-12-10 20:41] bbernhar commented on #75
@huningxin

Wouldn't that mean an existing and corresponding video device would have already configured the media pipeline to render the depth map? For depth-only stream preview (i.e. playback through `<video>`), there would be no such video device and would still require a separate playback implementation for other source providers. Unless of course, you always create a corresponding video device

[2015-12-14 00:52] huningxin commented on #75
Yes. In my prototype, I always a depth video capture device when it is available.

In native camera API, the depth camera and color camera (even packaged into one module, e.g. Intel R200 camera) are modeled to two different video capture devices. On some specially calibrated devices, developers are even able to use the color camera on system (out of R200) and the depth camera in R200 to capture th

[2015-12-14 17:19] bbernhar commented on #75
@huningxin

On Windows, the native camera API operates only the video device which provides the color source. A separate API provides the depth in addition to another color source from the same module (sources must be from the same provider for coordinate mapping through the API).

The native camera API would configure the <video> pipeline for capture, but cannot be queried to identify if the corr

[2016-02-18 00:48] bbernhar opened #94 "Clarify constraint selection order from getUserMedia"
If the UA requests with the constraints of `{video: true, audio: true, depth: true}`, it's not clear if the selected corresponding video device was decided by a paired default audio device and a separate depth device OR a paired depth device and a separate non-default audio device.

Per 6.6.1, we should consider enforcing the order of selection with a depth constraint where it takes precedence in

[2016-02-18 01:21] huningxin commented on #94
Thanks for bringing this!

Could you please show a use case to elaborate this idea?

[2016-02-18 02:05] bbernhar commented on #94
Multiple cameras. Where an `audio+video` pair is selected from a normal video camera first but depth could come from a separate 3D camera that has its own unselected video device. It makes more sense to give precedence to the video device corresponding to that depth device but the spec doesn't require such behavior and leaves it ambiguous.

[2016-02-18 12:05] anssiko commented on #94
@bbernhar Thanks for raising this issue.

Is the concern that implementations might not be able to ensure streams sourced from separate physical devices will be synchronized? For example, say, a built-in normal video camera and a separate add-on 3D camera attached to the same system, or other configuration, that could not be grouped by the underlying implementation.

If I got you right, would you

[2016-02-18 17:49] bbernhar commented on #94
@anssiko That is correct. The implementation could require a corresponding video device for media capture and cannot be coordinated or synchronized across sources.

Here's one way it could be worded for the spec:

[2016-02-19 01:53] huningxin commented on #94
In latest RSSDK, there is a mode called "R200 Enhanced Mode". See https://software.intel.com/sites/landingpage/realsense/camera-sdk/v1.1/documentation/html/index.html?doc_platcam_camera_r200_enhanced.html. In that mode, application is able to request the color stream from the platform camera (separated source of R200 camera) and the depth stream from R200. The usage of this mode is for better colo

[2016-02-19 17:23] bbernhar commented on #94
@huningxin LGTM.

If the `video+depth` device pair belong in separate groups, the UA must explicitly require a constraint to select `video{deviceId: platformCamera}+depth`. Provided the implementation can still satisfy the constraint.

[2016-02-22 15:01] anssiko commented on #94
@bbernhar Thanks for the proposal, I submitted #95 with your proposed text and some minor copy edits.

All, @bbernhar @huningxin - please review and see whether it looks good to be merged :-)

[2016-02-23 07:34] #94 closed, assigned to nobody

[2016-02-23 07:51] anssiko commented on #78
This issue has been addressed by settling on the following split:

The [mediacapture-depth](https://w3c.github.io/mediacapture-depth/) spec defines a conversion into a 8-bit grayscale representation of a depth map for consumption by APIs that are limited to 8 bits per pixel.

The [mediacapture-worker](https://w3c.github.io/mediacapture-worker/) spec defines processing of 16-bit depth values per pi

[2016-02-23 07:51] #78 closed, assigned to nobody

[2016-02-23 08:21] anssiko commented on #71
Thanks for the feedback. This is the specified behaviour without any special casing:
1. Since `#video` and `#depthVideo` are two separate media elements, their `loadedmetadata` events (fired when the user agent has just determined the duration and dimensions of the media resource and the text tracks are ready) firing do not depend on each other. Web developers are expected to check that both eleme

[2016-02-23 08:21] #71 closed, assigned to nobody

[2016-02-23 08:40] anssiko commented on #8
The mediacapture-main has since baked in extensibility guidelines, the guideline specific to this issue is [Defining a new constrainable property](http://w3c.github.io/mediacapture-main/#h-defining-a-new-constrainable-property):

For v1, we extend [MediaTrackConstraints](https://w3c.github.io/mediacapture-main/getusermedia.html#idl-def-MediaTrackConstraintSet) with one new constrainable property [

[2016-02-23 08:52] anssiko opened #96 "Update Status of This Document section"
Update [Status of This Document](https://w3c.github.io/mediacapture-depth/#sotd) section to better communicate the stability of the specification.

The current text boilerplate in bold is a leftover from the First Public Working Draft-era (Oct 2014). Since the FPWD, multiple [updated Working Drafts have been published](https://www.w3.org/standards/history/mediacapture-depth), the spec has received

[2016-02-25 06:46] #8 closed, assigned to nobody

[2016-02-25 07:10] anssiko commented on #92
Here's the [Defining a new media type](https://w3c.github.io/mediacapture-main/#defining-a-new-media-type-beyond-the-existing-audio-and-video-types) checklist:

At a minimum, defining a new media type would require
- [x] adding a new `getXXXXTracks()` method for the type to the `MediaStream` interface,
  - https://w3c.github.io/mediacapture-depth/#dom-mediastream-getdepthtracks
- [x] describing wh

[2016-02-26 03:04] huningxin commented on #92
@anssiko , thanks for doing this! Do you see any gaps to close this issue?

[2016-02-26 07:18] #92 closed, assigned to nobody

[2016-02-26 07:18] #96 closed, assigned to nobody

[2016-02-26 07:19] anssiko commented on #92
PR #98 ticked all the boxes in the checklist, closing this issue.

[2016-02-26 08:50] anssiko commented on #32
Fixed with ee8f7ae.

[2016-02-26 08:50] #32 closed, assigned to nobody

[2016-03-08 14:32] dontcallmedom opened #99 "Clarify handling of `depth` when set to an object"
6.1 states

It doesn't say explicitly what to do when it is set to an object; the media capture and spec states

(I'm not sure that handling of the unit system as a constraint is a good use of constraints; but that'll come as a separate issue)

[2016-03-08 14:34] dontcallmedom opened #100 "Setting unit in constraints"
The way constraints for mediastreamtrack have been defined is to allow browser-mediated negotiations of allowable ranges in which an application can operate on the said track.

Using this to indicate the unit of the reported values seems a poor application of that concept, since there is no particular reason why one would negotiate between meters and milimeters (or at least, I can't see what reaso

[2016-03-08 14:37] dontcallmedom opened #101 "Link to extended definitions rather than terminology section"
The specs extends a number of interfaces, dictionaries, enums, but the auto-linked versions of these names go the terminology section rather than the extended version; it makes it harder to get to and review the extended version.

[2016-03-08 14:54] dontcallmedom opened #102 "Settings vs constrainable properties"
The way Media Capture and Streams currently operates, the set of constrainable properties is the same as the set of settings obtained via getSettings().

This spec uses settings to report on non-constrainable properties.

That might be OK, but since that's clearly something that hasn't been done before, it would be good to check that this is consistent with the rest of the contrainable model.

[2016-03-08 14:56] dontcallmedom opened #103 "`format` is too generic for `MediaTrackSettigs`"
`MediaTrackSettings`, for better or for worse, will have to host all the possible settings for audio, video (and based on this spec, depth) tracks.

Using a term as generic as "format" for something so specific to depth tracks seems wrong.

[2016-03-08 16:20] dontcallmedom opened #104 "Integration with Permission API"
The Media Capture and Streams spec has a pending pull request to integrate with the permission API; the latest draft of the Permission API describes [permissions for "cameras, microphones"](https://w3c.github.io/permissions/#media-devices).

I assume the permission for access to a depth map can be encompassed as part of the "camera" permissions; but that's probably worth clarifying both in this sp

[2016-03-09 08:51] dontcallmedom opened #105 "Quantization formulas aren't accessible"
Images are used for the "rules to convert using range linear" and "rules to convert using range inverse", but their alt attributes just says "Quantization", with no accessible description of the formulas.

[2016-03-09 08:52] dontcallmedom opened #106 "focalLength, *fieldOfView scope"
Right now, focalLength and horizontal/verticalFieldOfView are described as specific to depth sources; presumably they would be useful for other video sources as well.

[2016-03-09 11:47] stefhak opened #107 "applyConstraint with depthMapUnit should only be rejected if mandatory"
May be moot because of #100 - but otherwise I think the promise should only be rejected based on this if depthMapUnit is mandatory.

[2016-03-10 04:13] huningxin commented on #100
@dontcallmedom , thanks for opening this issue!

From what I know, some depth cameras allow to set depth value unit. It allows applications to configure the depth camera precision and accuracy.

As it is device specific currently, I am fine to remove it from constraints. But it still makes sense to keep it in settings. WDYT? @dontcallmedom @anssiko

[2016-03-10 06:14] anssiko commented on #100
This seems similar to the `enableHighAccuracy` of Geolocation API.

Suggestion: rename to something else than unit (reuse geo's name?), standardize on a single unit and keep in settings only. Imlementations to do the conversion internally.

[2016-03-10 21:34] jan-ivar commented on #100
@anssiko +1, though maybe just `highAccuracy` since this is a constrainable property.

Definitely standardize on one unit, as a constrainable global unit might mess up values in another tab!

[2016-03-10 21:51] jan-ivar commented on #103
`grayscaleConversion`?

[2016-03-10 21:54] jan-ivar commented on #102
We have at least one existing read-only constrainable property: `facingMode`, yet we still populate `MediaTrackCapabilities` and `MediaTrackConstraints` with `facingMode`.

[2016-03-10 22:15] jan-ivar commented on #100
Actually, since `highAccuracy` would default to true, we should use enum to ["avoid having true as default value"](http://heycam.github.io/webidl/#dfn-optional-argument-default-value).

How about `depthPrecision = "mm"`?

[2016-03-10 22:27] jan-ivar commented on #107
Assuming we do what's suggested in https://github.com/w3c/mediacapture-depth/issues/100 (rename to something like `depthPrecision` and standardize values on an API unit), then why couldn't users change `depthPrecision` with `applyConstraints`?  Constraints let tabs negotiate for a shared resource, and I see no reason UAs couldn't handle this.

Other issues:
- Typo: We can't have `unit` in both `Me

[2016-03-10 22:36] jan-ivar commented on #107
Also:
- Default values must be avoided in `MediaTrackConstraintSet`, as a rule. *

*) because default values get implicitly inserted by webidl binding code to provide implementations with invariants, which is great, except `MediaTrackConstraintSet` is reused in `advanced` where the semantics of absence differs from providing a (default) value.

[2016-03-15 13:18] anssiko commented on #101
This is good feedback, I'd like to find a solution how to make the href-less a elements to navigate to cross-references directly with ReSpec.

Since ReSpec does not support [Custom Definitions a la Bikeshed](https://github.com/tabatkins/bikeshed/blob/master/docs/definitions-autolinks.md#providing-custom-definitions) AFAIK, I'm afraid this issue will be won't fix unless we patch ReSpec or switch to

[2016-03-15 13:44] anssiko commented on #102
Any further suggestions what, if any, changes we should do to the mediacapture-depth spec to be consistent with this model defined in the mediacapture-main?

[2016-03-15 17:58] jan-ivar commented on #102
Mirroring what we do for `facingMode` should make it consistent. Sites can then choose or reject a camera through `getUserMedia` based on these properties (should users ever find themselves with more than one depth camera).

[2016-03-16 00:22] bbernhar opened #110 "Accessing Camera Calibrations"
I see the importance that we should consider allowing the UA to access calibration data. It would enable many useful computer vision scenarios and bring the need to enable at-least three calibrations:
- Spatial coordinate system: This gives us ability to project and unproject 2D image space to 3D camera space and map between locations of depth and the corresponding color image. Ideally, this would

[2016-03-16 11:15] anssiko commented on #110
@bbernhar Thanks for raising this issue. I believe this hinges on the question how to do the split between v1 and v2 features.

Could you craft a proposal (in plain text, as a comment to this issue) with the intrinsic operations and properties that form the intersection of the capabilities of the most popular devices that are widely shipping? I assume these would be exposed via `MediaTrackSettings

[2016-03-16 11:17] #99 closed, assigned to nobody

[2016-03-16 11:17] #103 closed, assigned to nobody

[2016-03-16 15:21] anssiko commented on #100
Thanks @dontcallmedom, @jan-ivar, and @huningxin for your feedback.

I've rolled in your feedback into PR #111, but still have couple of open issues re depth precision looking for further feedback and suggestions, namely:
- **Always an optional constraint.** I'd like to specify the `depthPrecision` of `MediaTrackConstraints` to always be considered an optional constraint (consider a hint). Since n

[2016-03-18 00:30] bbernhar commented on #110
Thanks @anssiko. This seems beyond the `v1` horizon but here are the basic problems I can see that need further discussion. There exist equivalent operations that ship for Kinect and RealSense, at-least (links below).

### Spatial Coordination

Uses calibrations from streams to reason with the related coordinate systems.

UC: Skeletal or 3D tracking of objects [1].

Detect where some object identi

[2016-03-18 04:52] huningxin commented on #110
@bbernhar , +1 for this important topic. I am happy you raise it.

My thoughts:

In current spec, there is an "Implementation considerations" section for color-depth mapping (registration). http://w3c.github.io/mediacapture-depth/#implementation-considerations

"A video stream track and a depth stream track can be combined into one depth+video stream. The rendering of the two tracks are intended t

[2016-03-18 21:27] bbernhar commented on #110
@huningxin If we expose those low-level intrinsics directly through `MediaTrackSettings`, wouldn't one be invited to develop and use models that are wrongly calibrated with other cameras? I wouldn't expect users to "hold up a checker board" to lookup those calibrations either. I see value in a API that doesn't require users or developers to deal with these gory details but still allows them to rea

[2016-03-21 03:03] huningxin commented on #110
By exposing the camera intrinsics and extrinsics, it doesn't require users "hold up a checker board" to do calibration. The reason of doing that is find out the camera intrinsics and extrinsics. :)

But I agree there are many details in the algorithm and dependencies of device. E.g. Intel RealSense Camera F200/SR300 and R200 has different configurations (https://software.intel.com/sites/landingpag

[2016-03-21 09:26] anssiko commented on #110
Good discussion. Can we identify a subset of features that would be must have in the v1 spec? @bbernhar seemed to imply the features discussed in this issue would be beyond v1. From the comments I can gather that the following use cases would be hard (or impossible?) to implement without the features discussed in this issue:
- skeletal or 3D tracking of objects
- correcting and removing lens disto

[2016-03-21 10:00] anssiko commented on #100
(Pinged the ML for feedback: https://lists.w3.org/Archives/Public/public-media-capture/2016Mar/0079.html)

[2016-03-21 14:55] alvestrand commented on #100
Personal opinion: I think naming precisions as "mm" or "m" is extremely user-unfriendly, and will lead to very many situations that are unclear to the user.
The only thing setting the depth map measurement unit buys you is the ability to write "100.0" instead of "0.1" when setting "near" to 10 cm -  and that is just not something I see as valuable. Doubles have precision to spare.

I see no use in

[2016-03-21 14:57] jan-ivar commented on #100
If that's true then I agree, however, I got the impression that these were two different modes that the hardware could be in, sort of like a focal length thing?

[2016-03-21 15:00] alvestrand commented on #100
If there's a specific piece of hardware with 2 modes, you can bet $0.02 that tomorrow there'll be a new version with four modes. Let's not box ourselves in.

[2016-03-21 15:07] jan-ivar commented on #100
It's an enum, which can be expanded?

[2016-03-21 18:34] anssiko commented on #100
@alvestrand In abstract `depthPrecision` is similar to `enableHighAccuracy`, but used to configure the depth camera precision and accuracy rather than geolocation accuracy. Given the confusion I'm leaning toward dropping this constrain altogether from v1, expose as a readonly property via `getSettings()` only.

[2016-03-21 19:09] jan-ivar commented on #100
All constraints are optional by default, so no need for a special case here. The code you write above will be interpreted as optional. You'd have to write `depthPrecision: { exact: "mm" }` for it to be mandatory.

[2016-03-21 19:29] anssiko commented on #100
@jan-ivar Thanks, I was confused about the constraints model -- your clarification addresses my "always an optional constraint" issue. How about the capability detection based on constraint value?

[2016-03-21 19:39] jan-ivar commented on #100
@anssiko `getSupportedConstraints` is a global method that just tells you what constraint names you can ask your browser about, it says nothing about your device. It exists solely to handle arcane "mandatory must fail" cases, since by default dictionary members a browser hasn't heard of before get ignored.

[2016-03-21 19:55] jan-ivar commented on #100
@anssiko you are correct that you can't peek at what hardware the user has until _after_ the user has granted cam or mic permission.

Before permission has been granted, the closest you can get is:

[code]

If the user has no depth camera, then `noSupport` will be `true` almost immediately without prompting the user. If the user _has_ a depth camera, on the other hand, then the user just got promp

[2016-03-21 20:03] jan-ivar commented on #100
I don't see how making it _readonly_ sidesteps much. If we're going to have it at all, then we should get it right to begin with imho.

[2016-03-21 20:49] alvestrand commented on #100
@anssiko enableHighAccuracy is also (in my opinion) a bad choice - it tells the platform that the app thinks it knows what model device it is dealing with, and that it therefore knows what "high accuracy" means. If you have an app that will only work when accuracy is better than 1%, there should be an "accuracy" constraint you can constrain to smaller than 0.01 (or larger than 100 if you choose th

[2016-03-21 21:06] anssiko commented on #100
This is all great input. Concrete proposals how to spec this the right way wanted. The first stab is #111.

[2016-03-21 23:04] jan-ivar commented on #100
Well, we do have http://w3c.github.io/mediacapture-main/getusermedia.html#widl-InputDeviceInfo-getCapabilities-MediaTrackCapabilities

[2016-03-22 01:43] martinthomson commented on #100
@alvestrand, I agree wholly about `enableHighAccuracy`.  That is and was a bad idea.  But in this case, I think that what you want to say is "how" accurate the depth measurements are.  That is something quantifiable, measurable and if it is, then you should be able to say what the cutoff is.  If you go there, then you have to define what it means to be more accurate than a given threshold, which i

[2016-03-22 08:22] alvestrand commented on #100
@jan-ivar yes, that's what getCapabilities() returns.

@martinthomson great reference! It's even publicly available: http://www.bipm.org/en/publications/guides/gum.html

[2016-03-22 08:54] anssiko commented on #100
I glimpsed the _other_ GUM through.

I think what we want to do is be pragmatic and re-evaluate how the relevant native APIs that ship widely express uncertainty of the measurement, and take an intersection of that as a starting point for our feature discussion.

@huningxin How do Kinect/Tango/RealSense native APIs express uncertainty?

[2016-03-22 13:55] anssiko opened #112 "From quantized depth to depth measurement in mm; need a convenience function?"
Currently, web developers are expected to do some math themselves (see below) to convert the quantized depth value they get from the API to the actual depth measurement in millimeter units that tell the distance from the camera to the object at that particular point.

I'm asking for feedback whether we should:
- **Option 1**: provide a convenience function that takes a quantized depth value d<sub>

[2016-03-22 15:26] jan-ivar commented on #100
(not my domain but) it seems to me this is not just about accuracy, but also about range, right? I.e. I naively imagine I'd probably want a different setting for pointing my kinect out my window vs. pointing it at my couch?

[2016-03-22 19:27] bbernhar commented on #110
If I understand correctly, this describes a "whole frame" color-to-depth mapping function. Is that correct? The result being similarly accomplished with the RSSDK `Projection` method, `CreateColorImageMappedToDepth` or Kinect SDK `CoordiateMapper` method `MapColorFrameToDepthSpace`.

[code]

But if you post-process (e.g. filter) pixels from depth space, how does one map them back to the correspond

[2016-03-23 03:56] martinthomson commented on #100
@jan-ivar, that would be a separate constraint, probably two.  minimumRange: 1, maximumRange: 100.  If that's a real concern, then a separate issue.  For this one, I think that @anssiko has the right approach: find out how do the devices actually measure and work from there.

@anssiko, if there are devices that measure with their accuracy dependent on distance (that seems totally plausible) and ot

[2016-03-23 04:01] martinthomson opened #113 "Support a consistent measurement unit"
We support i420 and RGB for video without burdening applications with the distinction between the two.  In the browser itself, those two might be carried differently, but when they hit a screen or API, they are converted to a common form.

It would appear that depth captures aren't consistent in the units they use.

I can understand a representation that was expressed relative to the focal length

[2016-03-23 08:04] huningxin commented on #100
@jan-ivar , Kinect SDK allows to configure depth camera range (`Default` or `Near`) [[1]](https://msdn.microsoft.com/en-us/library/microsoft.kinect.depthimagestream.range.aspx). libealsense [[2]](https://github.com/IntelRealSense/librealsense/blob/master/include/librealsense/rsutil.h#L107) allows to configure several ranges to RealSense front facing depth camera as well (`Common`, `ShortRange`, `L

[2016-03-23 08:31] huningxin commented on #110
@bbernhar , correct!

So your use case depends on the depth-to-color mapping, is it? It was not considered before, I guess whether we can introduce `coordinate` constraint for that, like `{vidoe: true, depth: {coordinate: video}}` or `{video: {coordinate: depth}, depth: true}`, to handle that. Web app might be able to set the `coordinate` at runtime to change the mapping.

If the use case doesn't

[2016-03-23 08:57] anssiko opened #114 "Range constraints"
Creating a standalone issue for this discussion started in #100:

[2016-03-23 09:19] anssiko commented on #113
#111 is consistent in depth value representation, and standardizes on millimeters. I'm hearing this is the unit that the native APIs use to represent depth.

[2016-03-23 09:36] anssiko commented on #100
@huningxin Thanks for the information on various native APIs, this is very helpful!

@jan-ivar I opened a new issue #114 to discuss the range constraint. You have good use cases, and the data provided by @huningxin seems to suggest we might be able to find an intersection that is implementable across various native APIs.

@martinthomson I'll defer to @huningxin to comment on the feasibility of imp

[2016-03-23 11:07] martinthomson commented on #114
As long as these different configuration options leave the browser able to determine the resulting range, then I think that's fine.  I think that having constraints on `near` and `far` would be good. ConstrainDouble seems right.  I can imagine that users will probably only set a maximum `near` and minimum `far`, though I imagine cases where a shorter or longer overall range might be good.

[2016-03-23 15:29] anssiko commented on #100
Re "accuracy@1m" constraint:

Looking at the Kinect, Tango, RealSense implementation references provided by @huningxin it seems the intersection of the known implementations is the following:
- On a depth pixel basis, can indicate whether the measurement is "low confidence" (boolean).
- What is "low confidence" is an implementation detail, interpretations vary.

Given this, it appears it would be

[2016-03-23 16:54] jan-ivar commented on #100
I was trying to simplify, not complicate; I obviously failed. Just trying to comprehend how it works. Take Kinect: 13 bits of depth data where each pixel value is from 0 to 8192 millimeters means a range of 82 meters, correct?

That tells me the only time I need to worry about switching from the default is if I'm pointing the device out my window, tracking cars or airplanes, at which point I'm pro

[2016-03-23 17:00] jan-ivar commented on #100
Importantly, this bit of information also seems important to interpret the bitmap correctly.

[2016-03-23 19:23] anssiko commented on #100
@jan-ivar You're being very helpful and asking the right questions. The range in your example using 13 bits and 1 mm precision would be 8.192 meters, or 8192 millimeters.

The reason why we cannot expose the native bit depth directly if greater than 8 bits is that an essential part of the pipeline, canvas, is limited to 8 bits per channel. Thus for bit depths greater than 8 bits we use range inver

[2016-03-24 02:41] martinthomson commented on #100
That is what might, in other contexts, be called dynamic range (the range of values that can be expressed).  It has no bearing on the accuracy of the actual measurements.

Does the value have to be expressed as an 8-bit number?

[2016-03-24 09:55] anssiko commented on #100
@martinthomson If we want to play nice with the video element (to allow developers to easily visualize depth map in grayscale) and canvas (to allow manipulation of depth data using its APIs) without extending/patching them significantly we're limited to 8 bits. Alternative (more invasive) approach would be to e.g. encode the 16-bit depth value into the 3 8-bit channels (RGB). @huningxin discussed

[2016-03-24 11:01] martinthomson commented on #100
I guess that we can leave improvements in that area for future work.

It suggests value in min and max range constraints.  With only 256 steps available, I can imagine adjusting the near and far values to get greater resolution for the features that are important.

Given the typical near/far range on cameras, 256 steps is worse than 1cm (maybe 1/2 inch). Which isn't that good if the actual underly

[2016-03-24 12:34] anssiko commented on #100
@martinthomson Agree on the importance of near/far range configurability -- let's continue discuss the specifics of that in #114. Using the range inverse conversion, we get very good accuracy close to the near range, so if the range is adjustable the resolution can be improved where it matters, on a use case basis.

That said, let's test how the following resonates with people:

**Suggested resolu

[2016-03-24 12:54] anssiko opened #115 "Drop range linear conversion, always use range inverse conversion"
Currently shipping depth cameras (see https://github.com/w3c/mediacapture-depth/issues/100#issuecomment-200236879) all use a native depth value format with a bit depth greater than 8.

To simplify the conversion, perhaps we should just drop the range linear conversion and standardize on the range inverse conversion. In practical terms, modify the steps 4 and 5 in [convert the depth map value to gr

[2016-03-24 13:35] anssiko commented on #115
To add, the con is that at the far end of the range there's more error using range inverse vs. range linear conversion. See [mediacapture-depth error of measurement from conversion](https://docs.google.com/spreadsheets/d/110b3bYUwVmhou92hs5D0ClfypI4QDqCWiQBV_3-aDC4/pubhtml?gid=0&single=true) for some example data.

On the pros side we have better web developer ergonomics.

[2016-03-24 19:58] bbernhar commented on #110
@anssiko I'm not certain that anything but UC1 can be accomplished with only whole frame color-to-depth mapping. We need to actually verify this as the design direction of the native SDKs suggest this is also very limited.

The color and depth images have different resolutions, so it seems reasonable to expect that any algorithm might need the information of some depth value from a corresponding c

[2016-03-24 20:31] jan-ivar commented on #100
(I've clearly been in the US for too long when I confuse centimeters and millimeters...)

@anssiko thanks for the detailed explanation! This looks good to me, though in full disclosure, beyond playing Fruit Ninja, my hands-on depth camera experience is limited.

[2016-03-25 01:02] huningxin commented on #100
It makes sense to me.

It looks pretty good! Normally, depth camera only provides limited options of range setting, like 2 options for Kinect (`default`, `near`), and 3 options for RealSense R200 (`common`, `shortRange`, `longRange`). It would be good to expose the range via `getCapabilities` API. User agent may translate the native range settings to `{near: number, far: number}` arrays, like for

[2016-03-25 04:54] martinthomson commented on #100
1. use metres
2. the form is `{ depthNear: { min: 0, max: 2 }, depthFar: { ideal: 5 } }`
3. we should be able to use the constraints in two ways:
   - to pick the camera mode that best fits, and
   - to adjust the range over which the value is converted to the 8-bit value

[2016-03-26 22:44] alvestrand commented on #100
Adjusting near and far as constraints seems good to me.
The main purpose of near and far is driving the conversion algorithm.

The camera driver would then use the settings on the particular device that make the most sense with those constraints - ie it would set "shortRange" on the RealSense if a "far" of less than (say) 1m was acceptable to the user.

In a later version, I would think that addin

[2016-03-28 17:01] bbernhar commented on #115
LGTM

[2016-03-29 00:44] huningxin commented on #115
LGTM. Thanks for this PR!

[2016-03-29 06:46] anssiko commented on #114
(Copying feedback from #100 that is relevant to this issue here:)

@martinthomson [said](https://github.com/w3c/mediacapture-depth/issues/100#issuecomment-201134737):

@alvestrand [said](https://github.com/w3c/mediacapture-depth/issues/100#issuecomment-201944954):

[2016-03-29 07:12] anssiko commented on #100
All - thanks the the great feedback. With your help we finally get to close this issue with the following resolution that reflect the consensus position of the group.

**Resolution:**
- [x] Drop the `depthPrecision` constraint and associated `DepthPrecisionEnum` that are hard to spec right.
  - Addressed by the updated PR #111.
- [x] Make `depthNear` and `depthFar` constraints instead (currently e

[2016-03-29 07:12] #100 closed, assigned to nobody

[2016-03-29 07:30] #115 closed, assigned to nobody

[2016-03-29 07:30] anssiko commented on #115
@huningxin @bbernhar Thanks for the review. Fix landed & issue closed.

[2016-03-29 08:28] anssiko commented on #112
We settled on using range inverse only in #115. I added a non-normative note how to reconstruct the depth measurement in #117 (commit c9d598c).

[2016-03-29 08:29] anssiko commented on #105
Fixed with a0caf75 using the ASCIIMath notation.

[2016-03-29 08:30] #105 closed, assigned to nobody

[2016-03-29 08:30] #112 closed, assigned to nobody

[2016-04-07 10:41] #114 closed, assigned to nobody

[2016-04-07 11:32] anssiko commented on #113
We eventually settled on meters (using this U.S. English spelling in the spec assuming the [W3C Manual of Style](https://www.w3.org/2001/06/manual/#Translations) is to be obeyed still).

Specifically, fixed this issue with 13c5bda in #118, as discussed in #114.

[2016-04-07 11:33] #113 closed, assigned to nobody

[2016-04-07 11:55] anssiko commented on #107
This issue fixed itself:
- `applyConstraints()` special casing was removed in 13132ae as agreed in #118.
- `depthMapUnit/DepthPrecisionEnum` was removed in 461fd20 as agreed in #100.

[2016-04-07 11:55] #107 closed, assigned to nobody

[2016-04-07 13:09] anssiko commented on #102
I looked at how mediacapture-main defines `facingMode` but I did not see any reusable concise wording, thus I minted a new "non-constrainable property" definition and applied it to `focalLength`, `horizontalFieldOfView`, and `verticalFieldOfView`

Any concerns? Please review the PR #119.

[2016-04-13 06:37] #102 closed, assigned to nobody

[2016-04-13 06:42] anssiko commented on #106
There's now the following note in the [Constrainable properties](http://w3c.github.io/mediacapture-depth/#constrainable-properties) section:

[2016-04-13 06:42] #106 closed, assigned to nobody

[2016-04-13 07:22] anssiko commented on #101
I labelled this as v2 enhancement, since I consider this an editorial issue. Bikeshed would fix this, as would a patch to ReSpec.

[2016-04-13 07:54] anssiko commented on #102
Closed with PR #119.

Since there was some iteration in the PR, for historical reference, see https://github.com/w3c/mediacapture-depth/pull/119/commits

[2016-04-13 14:15] #104 closed, assigned to nobody

[2016-04-13 14:30] anssiko commented on #105
Improve this further in 9cad17c.

[2016-04-13 14:31] dontcallmedom commented on #105
re mathjax, you might want to chime in in the respec discussion on how to include 3rd party scripts in respec based documents (now and in the future) https://github.com/w3c/respec/pull/678

[2016-04-13 20:33] marcoscaceres commented on #105
@anssiko please see https://github.com/WebAudio/web-audio-api/pull/782

[2016-04-19 07:32] anssiko commented on #110
@bbernhar Do you foresee camera calibration features discussed in this issue #110 being forward compatible with v1 (let's call the current spec v1 for simplicity)?

IOW, can we ensure the browsers that implement v1 will gracefully accept content written for the v2 API that bakes in camera calibrations? Naturally, the lack of calibrations would mean the experience is of lower quality if v1 implemen

[2016-04-20 01:00] bbernhar commented on #110
I don't have an issue with moving forward with `v1` and revisiting this for `v2`+. However, I remain uncertain to say that anything but UC1 is do-able.

[2016-04-20 09:53] publicocean0 opened #121 "Info request"
hi ... I might develop a MediaStream class that receiving data not from camera but from a websocket stream.
The idea is to create my WSMediaStream extends MediaStream in javascript. it is possible to pass to peer.addStream this kind of class for your opinion?
thanks for suggestion

[2016-04-20 13:32] anssiko commented on #121
`PeerConnection` is considered out of scope of v1, see #12 for more details.

[2016-04-20 13:32] #121 closed, assigned to nobody

[2016-04-28 14:59] stefhak opened #124 "Remove sourceType"
SourceType has been removed from mediacapture-main with the merge of https://github.com/w3c/mediacapture-main/pull/348 so it should be removed from -depth as well.

[2016-05-07 13:16] publicocean0 commented on #121
We need a long native number  integer 64bit. The time is mature

Inviato da iPad

[2016-05-10 21:16] bbernhar opened #125 "How to handle depth conversion when range has a near value of zero."
The RSSDK `PROPERTY_DEPTH_SENSOR_RANGE` property [1] can return a value of zero for `MinDepth`. Using our _convert using range inverse_  (per 6.6), the depth map will only quanitize to `dn=1` when near=0 and will inaccurately compute the interpolated depth values when converted into the grayscale image.

This is because the depth range (i.e. `MinDepth` and `MaxDepth` properties) can be reported as

[2016-05-16 12:37] anssiko commented on #125
We will need the 8-bit representation for backwards compatibility reasons, interop with `<video>` and friends. In the future we can get 16-bit depth in a worker with a new set of APIs in the making (see [mediacapture-worker](https://w3c.github.io/mediacapture-worker/)). That said, we should figure out a solution to this 8-bit issue.

I think we should specify that both the near and far values must

[2016-05-16 22:55] bbernhar commented on #125
@anssiko @huningxin

If we hard code `MinDepth` and `MaxDepth` (effective range values) in the implementation, I would expect the same camera to have the same values between browsers. Otherwise, my website could be falsely calibrated for other browsers, if I did not feature detect and handle other unexpected ranges.

This suggests such a standardization of "effective range" per camera with`MinDept

[2016-05-17 10:01] anssiko commented on #125
Ping @ds-hwang for further feedback.

[2016-05-17 11:23] ds-hwang commented on #125
Where "rules to convert using range inverse " come from? The formula itself should be wrong.
`dn = far * (d - near) / (d * (far - near))`

In the formula, if near == 0, dn is always 1.
`dn = far * (d - near) / (d * (far - near)) = far * d / d * far = 1`

[2016-05-17 11:33] ds-hwang commented on #125
In addition, realsense produces 16bit integer for depth. There is [two mode](https://github.com/IntelRealSense/librealsense/blob/master/doc/projection.md)
1) linear
`float depth_in_meters = scale * d16`
2) inverse
`float depth_in_meters = scale / d16`

[2016-05-17 11:41] ds-hwang commented on #110
I agree on @huningxin. keep `v1` minimal and then generalize it when needed. camera calibration is different among all devices. Implementation detail has to handle

[2016-05-17 12:30] anssiko commented on #110
I tagged this as a v2 issue. Let's ship an API that can handle UC1 MVP-style and add more features in subsequent updates.

[2016-05-17 12:42] #124 closed, assigned to nobody

[2016-05-17 16:17] bbernhar commented on #125
@ds-hwang The conversion to 8-bit depth (via _RangeInverse_) originated from the XDM format [1], AFAIK. The spec uses those rules per 6.6, but as brought up earlier, must have a positive `MinDepth` (or "effective range") for it to be meaningful.

Since _mediacapture-depth_ is built on-top of _mediacapture-main_, it requires a color image bitmap type (32-bit per pixel & 8-bits per channel) for us t

[2016-05-17 16:35] ds-hwang commented on #125
ah.. thx for pointing out.

The spec value causes additional cost for realsense...
realsense doesn't produce this exact value so have to do conversion. However, final format WebGL will use is float32 in meter, so the spec format requires redundant conversion, which is not used for application itself.

As this format cannot satisfy all devices, float32 in meter is better because all raw value from

[2016-05-17 18:29] bbernhar commented on #125
I believe the conversion is only necessary for `CanvasRenderingContext2D` and not a `WebGLRenderingContext`. For WebGL, it would be packed into `RGB` format in millimeters (the SI unit for depth). It does waste more B/W not having a 16-bit `DEPTH` format. But the depth value conversion to say, meters (float), is still comparatively cheap in a shader.

[2016-05-18 01:01] huningxin commented on #125
Thanks for the discussions so far!

I understand the problem is:
1. the "effective range" is for each frame. There is no room to attach "effective range" to ImageData of canvas 2D in today's depth map redirection pipeline.
2. current "near" and "far" in spec are for "camera range". But RSSDK reports 0 for `MinDepth` of `PROPERTY_DEPTH_SENSOR_RANGE` property.

Correct?

Then, my proposal would be r

[2016-05-18 04:57] bbernhar commented on #125
I don't think "effective range" _must_ be for each frame, as usable range values could be static but use-case specific. The spec (I believe) refers to camera range values, as the "effective range" isn't reportable by the RSSDK but otherwise documented. Since "camera range" values can report 0 for `MinDepth`, the conversion is always `dn=1` when `near = MinDepth` (see @ds-hwang proof) or if `near =

[2016-05-18 06:19] huningxin commented on #125
In this case (if `near = DepthUnitValue` and `d = DepthUnitValue`), the result `dn=0` looks reasonable to me.

I got your "effective range" idea by reading your https://github.com/w3c/mediacapture-depth/issues/125#issuecomment-219572814. I agree using "effective range" looks better as it saves bits for effective depth value according to 8 bits conversion. The problem is SDK doesn't report that. Pr

[2016-05-18 09:45] ds-hwang commented on #125
"A video stream track and a depth stream track can be combined into one depth+video stream. The rendering of the two tracks are intended to be synchronized. The resolution of the two tracks are intended to be same. And the coordination of the two tracks are intended to be calibrated. These are not hard requirements, since it might not be possible to synchronize tracks from sources."

The depth val

[2016-05-18 12:07] anssiko commented on #125
@bbernhar Yes, range linear format is from XDM. I added the missing XDM reference and CC BY attribution in 077c8dcaed294e0e33b548417f8e2b6fcb83f75e.

[2016-05-18 17:06] bbernhar commented on #125
@huningxin

If I understand you correctly - it would produce `d8bit=0` (per 6.6), which doesn't look particularly useful since as `DepthUnitValue` had a valid positive value but would always be mapped to 0. In other words, if there was no conversion (`d16bit = DepthUnitValue`) you get expected results.

Right, it seems our 8-bit conversion formula really wants "effective range" values but the SDK

[2016-05-18 18:27] ds-hwang commented on #125
@bbernhar ok. understood `dn` must be integer.

@anssiko, @huningxin 8bit depth value is too low precision. Is it impossible to use 16bit depth value? When drawing it via `<video>`, RG channel will be used.

On the other hands, let me explain why calibration and depth value is related.
If you uses realsense R200, you will get different resolution color and depth frame. Even if you get same resolut

[2016-05-20 08:13] huningxin commented on #125
@bbernhar

Let's say if `MinDepth` is 0, and `DepthUnitValue` is 1 mm. According to my proposal:

[code]

It sets `near` to 1 mm.

Let's say `far` is 1200 mm. So:

If `d` is 1 mm. The `dn` would 0. It would be recovered to `near`, so `d` is recovered to 1 mm.

If `d` is 50 mm. Then the `dn` would 250. It would be recovered to 48.96 mm.

[2016-05-20 16:54] bbernhar commented on #125
@huningxin In your second example (where `d=50`), it should be `d8bit=250` and `dn=0.98` (e.g. [0..1] range). Otherwise, the proposal LGTM. We might also add that `near` < `d` < `far` for conversion. @anssiko, WDYT?

[2016-05-21 02:06] huningxin commented on #125
Exactly. Thanks for the correction. @bbernhar

[2016-05-23 03:01] huningxin commented on #125
@ds-hwang

I think we don't limit the depth value of a depth stream to 8-bit integer. The 8-bit is only used when `<video>` as a sink.

As @anssiko mentioned, when working with mediacapture-worker, the 16-bit integer would be used.

For WebGL 1.0 texture as the sink, today's spec of [WebGLRenderingContext](http://w3c.github.io/mediacapture-depth/#webglrenderingcontext-interface) is to use `R` and

[2016-05-23 19:59] bbernhar commented on #125
Thanks for the comments, esp. @huningxin.

Summary of the proposed edits to the WD and close the issue:
1. Clarify `near` and `far` are camera range values (as reported by the device).
2. Note that implementations should recover `d` with `near = MinDepth > 0 ? MinDepth : DepthUnitValue`, since `near=MinDepth=0` wouldn't allow recovery.

I would opt to create (or re-open) separate and specific per

[2016-05-31 12:52] ds-hwang commented on #125
@huningxin Thanks for explaining.
Our spec doesn't define internal data format. It mislead `d_8bit` is internal data format.
To be clear, I would like the spec to define the depth format as **16bit unsigned integer**.

[code]

And then explain how `<video>` draws depth frame in "6.6 The video element".
My proposal is "`<video>` draws the depth frame at the red channel after conversion `d_8bit = d_

[2016-05-31 13:25] ds-hwang commented on #83
@ChiahungTai could you give a link about 2 depth camera of HoloLens?
[HoloLens hareware details](https://developer.microsoft.com/en-us/windows/holographic/hardware_details) says "1 depth camera".

In addition, `left` and `right` mode in `VideoFacingModeEnum` is not needed. Even if the devices has two infrared cameras, all the devices (as far as I know) gives you single depth frame after compilicat

[2016-05-31 14:40] ds-hwang commented on #125
[imagebitmap extension](http://kakukogou.github.io/spec-imagebitmap-extension/#idl-def-ImageFormat.xDEPTH) defines `DEPTH` as 16-bit unsigned integer. I like 16-bit unsigned integer.

Edit by @anssiko: the canonical ImageBitmap extensions spec is at:
https://w3c.github.io/mediacapture-worker/#imagebitmap-extensions

[2016-06-01 02:36] ChiahungTai commented on #83
@ds-hwang
I am wrong. This issue is filed before the detail of HoloLens' HW released. Thanks for the correction.

[2016-06-01 21:39] bbernhar commented on #125
I believe higher precision sinks are not in scope for `v1`. Also, rear-facing cameras are not required for UC1 and could be left for `v2` once we have more feedback.

LGTM.

[2016-06-02 08:31] huningxin commented on #125
LGTM.

[2016-06-02 15:28] ds-hwang commented on #125
@bbernhar @huningxin Thank you for positive feedback.
I submit PR #130 to apply my proposal. Could you review?

[2016-06-08 23:28] bbernhar commented on #125
I would suggest we split PR #130 into 1) clarify depth conversion of expected ranges (from https://github.com/w3c/mediacapture-depth/pull/130/commits/96d2e99f34c574d3f9420b5ce27fb00b9dd06ddd  and my https://github.com/w3c/mediacapture-depth/issues/125#issuecomment-221078547) and 2) support for WebGL2 (per https://github.com/w3c/mediacapture-depth/pull/130/commits/d1beddad02d089c98258d36319858962b9

[2016-06-09 06:44] anssiko commented on #125
@ds-hwang Could you split your PR #130 into two new PRs we can review and land separately?

[2016-06-09 11:20] ds-hwang commented on #125
@bbernhar you asked about canvas rendering context.
After rethinking, I think depth stream should support all feature `<video>` can support. Those include canvas rendering context and webgl1 rendering context.

[2016-07-12 11:38] #125 closed, assigned to nobody

[2016-07-12 11:40] anssiko commented on #125
(We switched to range linear, so the original issue https://github.com/w3c/mediacapture-depth/issues/125#issue-154108996 became a non-issue.)

[2016-07-12 16:49] bbernhar opened #131 "Specialize ImageData type for Depth"
Per discussion in https://github.com/w3c/mediacapture-depth/pull/130, this proposal suggests creating a specific `DepthImage` type where `DepthImage.data` creates a default `Uint16ClampedArray` view. In contrast to the ED 6.7, `ImageData.data` will not have an overloaded meaning (color vs depth) with the depth extension and equally (and more intuitively) access 16-bit dexels without further recons

[2016-09-27 11:01] alvestrand opened #133 "WG CR review for mediacapture-depth"
This issue serves to track internal WG review (in the WGs making up the mediacapture TF) of the <specification> document for CR publication.
If you have reviewed the document, please add a “thumbs up” reaction to the issue.
If you find issues that you think need addressing before CR publication, please file the issue in Github and mention it in the comments.

The review lasts until Thursday, Octob

[2016-10-04 14:35] fluffy opened #134 "The XDM reference and related text should be removed"
It's not used in anyway so I don't see why it is here

[2016-10-04 14:35] fluffy opened #135 "Focal length seems under defined"
I don't understand how to use focal length without understanding the size of the sensor in mm. If the focal length was 50 mm, what would that mean ? what would an application use it for ?

[2016-10-04 14:39] fluffy opened #136 "Value when muted"
Describing a depth stream as black does not make much sense. I think it would be better to set it at  a specific invalid value or something like that when it is muted

[2016-10-04 14:44] fluffy opened #137 "Need an invalid value"
This bug is important to fix before this goes for wider review.

Most depth sensors may not product a depth for every pixel. It is important that when they can no detect what the depth value is at a give location, they can report that there is no reading vs reporting a bad reading. We need to define a way a value that indicates "no depth detected". Typically this is zero. Once we define this value

[2016-10-04 14:49] fluffy opened #138 "Syncronization"
The draft says things in same stream don't need to be synchronized. However, I think this should be changed. If they are in the same stream, it's critical they are synchronized, if it is not possible to synchronize them then they the depth and video tracks should be in different streams. Things using machine vision on the depth and video are going to need to know if they are synchronized or not.

[2016-10-04 14:53] fluffy commented on #133
I do not think this draft is ready for broad review and I have filed multiple issues

[2016-10-04 18:57] anssiko commented on #133
Thanks for taking your time to review and report the issues. We'll address them and ping this meta issue when done. I'd suggest we go to wide review only after the issues reported during this review period have been addressed.

[2016-10-10 09:04] huningxin commented on #138
@fluffy , thanks for your comments!

According to https://w3c.github.io/mediacapture-depth/#implementation-considerations, the spec says

Does it solve this issue?

[2016-10-10 09:05] huningxin commented on #137
+1. Most native SDK defines the invalid value. We should generalize that for Web.

[2016-10-10 09:07] huningxin commented on #134
Thanks for reporting this issue. It was referred in previous version. Now the usage goes away. We need to remove it in latest version.

[2016-10-12 17:22] robman commented on #135
If you combine focal length (ideally in pixels) with fov (width/height) then you can calculate image size.

[2016-10-13 03:21] fluffy commented on #135
That seems pretty convoluted - whats the use case for this. (I'll note the draft currently says the focal length is in mm)

[2016-10-13 03:25] fluffy commented on #138
There no good way for the app to find out if they are synchronized or not. I would prefer that if they can't be synchronized, just get an error if the app asks for a stream with both then the app can respond to the error by asking for each in individual streams which will work. We could solve this other ways too like a constraint that indicated synchronization required. I don't really care how we

[2016-10-21 22:22] robman commented on #138
+1 for constraints and errors on this

[2016-10-21 22:23] robman commented on #136
+1 and for linking it to what we land on in #137

[2016-10-21 22:25] robman commented on #134
OK but we do need to explore the intrinsics and extrinsics and XDM is a good reference implementation to point to here. At the moment we don't even know the vector between the camera and IMU on mobile devices (or integrated devices like Tango/Hololens/Alloy) which is a real issue.

[2016-10-21 22:28] robman commented on #83
I think FacingMode is underspecified across the board 8)

But we can close this now can't we @anssiko ?

[2016-10-21 22:30] robman commented on #80
This is critical for accurate reprojection and should really be included in v1.

Based on discussion with @huningxin this should probably be able to be requested in the constraints too (and be introspected/throw errors) as some devices let you configure if you want to use optical or principal ray.

[2016-10-24 05:32] robman commented on #135
Erm sorry but not sure why that's convoluted @fluffy - that's the standard math for reprojection using the [pinhole camera model](https://en.wikipedia.org/wiki/Pinhole_camera_model). But if you just want basic image size then that's already available as `width` and `height` as defined in `mediacapture-main`.

The use case for all camera intrinsics (e.g. `focal_length`) is general reprojection and

[2016-10-24 06:01] robman commented on #137
The standard for `unknown depth` seems to be 0 which makes sense to me - lets just go with that.

[2016-10-24 08:01] huningxin commented on #137
+1 to define zero as "no depth".  This is a reasonable sentinel for "no depth" because all pixels with a depth of zero would correspond to the same physical location, the location of the imager itself.

[2016-10-24 09:02] huningxin commented on #138
Constraints sound promising.

The native commonly provides two directions of synchronization, say color-to-depth or depth-to-color. We probably need to support both.

Trying to post a sketch about the two cases:

Case-1: the depth-to-color case.

[code]

Case-2: the color-synchronized-to-depth case.

[code]

When succeeded, for case 1, it resolves the promise with a media stream which has both vid

[2016-10-24 09:16] huningxin commented on #131
We need revisit this for `video+canvas` sink as TPAC meeting attendees are not positive to the depth value reconstruction from RG88 solution.

@bbernhar , could you please elaborate a bit more about the `DepthImage` interface and laternative `ImageData` extension solutions?

[2016-10-24 18:59] fluffy commented on #135
If it was in pixels, I could understand how the repojection works, but the spec clearly says it is mm which does not seem useful unless you can also get the size of the sensor in mm. As you point out in the link you provided, the formula is -y1 / f = x1/x3.  If I have y1 in pixels, and f in mm, how does this work to get the x1/x3 ratio ?

[2016-10-24 19:03] fluffy commented on #138
well how it work with synchronizing audio and video is if you want them synchronized the apps ask for both audio and video in a single call to GUM but if the app does not care if they are synchronized, if asks for them in two separate calls to GUM. I think that could work but what you are proposing could work too. I don't care too much which way as long as there is some way to do it.

[2016-10-24 19:06] fluffy commented on #134
I wonder if we could report a camera direction vector (in cases where it is known) ? Should we open an issue for that ?

[2016-10-25 01:05] huningxin commented on #138
OK. I am fine with leaving the color-to-depth or depth-to-color specifying to v2.

So for v1, we would specify that

[code]

When succeeded, it resolves the promise with a media stream which has both video track and depth track where the video and depth track are synchronized temporally and spatially.

When failed, it rejects the promise with OverconstrainedError.

Does it sound good? @fluffy

[2016-10-25 01:23] huningxin commented on #134
@fluffy , do you mean the camera pose information?

For example, some of Intel realsense cameras provide the motion data which has accelerator and gyro readings. It is a kind of integrated IMU of the 3D camera.

[2016-10-26 22:41] robman commented on #138
+1 from me for this simple version in your latest comment for v1 @huningxin and a simple OverconstrainedError if this can't be delivered.

[2016-10-26 22:50] robman commented on #134
I was going to remove the XDM reference but we ref to it for the range linear format so leaving it in place.

Unless anyone objects I think we can close this and move any camera extrinsics/direction/pose discussions to a new issue.

[2016-10-31 12:30] anssiko commented on #134
Sounds fine, @robman could you open a new issue for the camera extrinsics/direction/pose discussions?

[2016-10-31 12:43] anssiko commented on #137
See #139 for a proposed fix.

[2016-10-31 12:52] anssiko commented on #136
Proposed fix #140.

[2016-10-31 12:53] anssiko commented on #135
Do we have a good proposal how to address this issue @robman @huningxin?

[2016-10-31 13:05] anssiko commented on #134
Proposed fix #141.

[2016-11-01 14:04] fluffy commented on #134
Should we open a new bug for camera pose. If you can get video from left and right camera, it often nice to have relative location information of them too. For example, we make a 3 camera head that has three camera that all point slightly different direction. We also make pan tilt units where we can report the pose. Of things like http://www.cisco.com/c/en/us/products/collateral/collaboration-endp

[2016-11-01 14:06] fluffy commented on #135
Sorry I am being dense on this but I think what would help me is what is the use case where someone wants to use this? From that I think I could propose how to fix it.

[2016-11-01 14:10] fluffy commented on #138
Yah, the simple version sounds good to me. I don't even understand the difference of depth sync to color vs color sync to depth.

[2016-11-01 14:10] anssiko commented on #134
@fluffy please open a new issue and include your details, thanks!

[2016-11-01 14:12] fluffy commented on #136
Seems right to use the invalid value

[2016-11-01 14:13] anssiko commented on #135
"What is the use case?" is a perfect question to ask in context of web specifications :-)

Given @huningxin and @robman were actively discussing this topic at the Web & VR workshop a week ago, I think they can explain the use case. As usual, without a strong use case, we should drop the feature.

[2016-11-03 02:30] huningxin commented on #138
It is about spatial synchronization:

1. depth sync to color: pixel in depth image -> (depth camera intrinsics) -> 3D point of depth camera view -> (depth-to-color camera extrinsics) -> 3D point of color camera view -> (color camera intrinsics) -> pixel in color image
2. color sync to depth is the vise versa.

[2016-11-03 05:26] huningxin commented on #138
The difference is:
1. depth sync to color: the resolution of depth image would be resized to color image, each pixel of the depth image represents the depth value of corresponding pixel (with same (x, y)) of the color image.
2. color sync to depth: the resolution of color image would be resized to depth image, each pixel of the color image represents the RGB value of corresponding pixel (with same

[2016-11-03 06:07] huningxin commented on #135
The use case would be reprojecting the pixel in depth map to 3D point in world coordination (point cloud). It is required by 3D reconstruction and spatial mapping applications.

The typical reprojection algorithm based on camera intrinsics is probably as:

[code]

This algorithm requires camera intrinsics including focal length, principal point and distortion coefficients if needed.

If the imager

[2016-11-06 21:12] astojilj commented on #131
Short update on implementation in Chromium:
The idea is to use WebGL with extended precision formats; float (WebGL1+) or unsigned short (WebGL2):
https://crbug.com/624436#c43

If needed to get the data from texture, the test here contains the code:
https://codereview.chromium.org/2476693002/patch/100001/110005
In short, upload the video to texture and then bind that texture to named framebuffer an

[2016-11-10 23:25] astojilj commented on #138
This approach raises performance and quality concerns.
Case1: if canvas & getImageData would be used:
1. increases bandwidth and uses CPU for upscaling depth image (e.g. SR300 from 640x480 -> 1920x1080) and depending on quality of upscaling technique could also cause filtering problems.
2. low quality.
The problem is that also 2. is not possible in general case: "Although it is inconvenient that p

[2016-11-10 23:52] astojilj commented on #110
I think we should make this V1 and #138 V2.
This one is simpler to implement and is the lowest common denominator required to implement various use cases with no need to have the same code replicated in all of the browsers (the functionality would fit JS library and WebGL better).

In [comment to #138](https://github.com/w3c/mediacapture-depth/issues/138?_pjax=%23js-repo-pjax-container#issuecommen

[2016-11-11 11:49] astojilj commented on #138
Let's go further, with example of using this:

[code]

Which video should the code above render in video tag - rgb video or depth video?
Depth video is just a type of video, not a separate media type like audio.
When we retrieve it without rgb counterpart, we still render it to canvas or upload it to webgl. Don't think we can do that with audio, so this looks a bit counter-intuitive.

[2016-11-12 11:48] astojilj commented on #131
I'll start work on this. The plan is to remove approach reconstructing 16-bit value from low byte R and high byte G and define R16UI and Float WebGL approach with example.

[2016-11-12 12:07] astojilj commented on #135
Currently, we define [this](https://w3c.github.io/mediacapture-depth/#mediatracksettings-dictionary):

Naming and semantics of the data is fairly standardized among different device vendors:
[Microsoft Kinect2](https://msdn.microsoft.com/en-us/library/microsoft.kinect.kinect.cameraintrinsics.aspx), [Android Tango](https://developers.google.com/tango/apis/c/reference/struct/tango-camera-intrinsics)

[2016-11-13 18:48] astojilj opened #142 "(16-bit) Grayscale conversion of (16-bit) depth map is wrong"
With the time, the "depth map" changed the meaning from abstraction of real world distance to a 16-bit representation of depth. This part of spec remained and now is wrong - it reads as it converts 16-bit depth map to 16-bit grayscale?
Grayscale should be 8 bit, not 16-bit.

The text states:

from video:

[2016-11-14 08:29] huningxin commented on #110
I think they should be read from the device.

@fluffy and @robman , in https://github.com/w3c/mediacapture-depth/issues/134, you proposed the  camera extrinsics/direction/pose, could we consolidate the discussions with this issue?

[2016-11-14 09:08] huningxin commented on #138
This is not correct. As the proposal, UA should do `color-to-depth` sync, so apps get synced depth (640x480) and color (640x480) images.

This use case is only about rendering the point cloud.

Other use cases are about processing the point cloud, like 3D reconstruction, hand/gesture tracking and collisions avoidance (as @fluffy mentioned) etc.,.

[2016-11-14 09:09] huningxin commented on #138
As current spec, https://w3c.github.io/mediacapture-depth/#the-video-element, it should render the rgb video.

[2016-11-14 16:13] astojilj commented on #138
Well, that part issue is covered under:

Point cloud video seems like a viable alternative - if we abstract depth with the same relationship to video as audio has; audio+video are rendered together, shouldn't depth+video be rendered together?

Guess that users would like to get 2 textures/bitmap, one for RGB video and one for depth video.
Video stream gets rendered to one bitmap/uploaded to one te

[2016-11-15 00:43] huningxin commented on #138
Right. Please see "Playback of depth+video stream" example of https://w3c.github.io/mediacapture-depth/#examples

For common rgb + depth use cases, it requires the rgb capturing and depth capturing are synchronized. Requesting both rgb and depth in one gUM call indicates UA to enforce the synchronization, otherwise UA would not care about the synchronization.

[2016-11-15 01:56] huningxin opened #143 "Change depth to MediaTrackConstraints"
Current spec defines the depth as a new media type in `MediaStreamConstraints`

[code]

However actually the depth camera is a kind of video capture device, it shares most of characteristics of a color camera. The major difference with a color camera is the pixel format and the meta data describing the pixel value (depth value).

So I propose to change the depth to the `MediaTrackConstraints`. To

[2016-11-15 09:04] robman commented on #135
That's a good summary @astojilj - I think we should simplify down the API to be inline with these.

We can definitely derive fov from image width/height and focal length x/y - so we can just drop the fov's.

And then both image width/height and focal length x/y should be in common units (pixels). So we should add in focalLengthX and focalLengthY (so agree on splitting this too).

[2016-11-15 09:14] robman commented on #134
Camera pose should fit under extrinsics and I think there's at least 3 main contexts:
- fixed cameras (pre-defined fixed pose)
- articulated cameras (as in the telepresence setup @fluffy describes above)
- mobile computer vision (as in a Tango mobile device, Hololens, Alloy, etc.)

For use in AR/VR these all need to be transformed into some sort of world coordinate system too.

+1 to moving all th

[2016-11-15 09:16] robman commented on #110
+1 to consolidating all the extrinsics/intrinsics discussions into this one issue 8)

I think for v1 we can go with only intrinsics and just start with the simplest possible - image width/height and focal length x/y as discussed in #135 (all in pixels).

From this we can derive aspect ratio, fov's, projection matrix and (with depth map near/far) frustum.

Then for v2 we could add in more non-commo

[2016-11-15 09:23] robman commented on #143
+1 - I agree it's a class of video capture devices (e.g. sensor that emits a stream of images/video)

Not 100% on the label videoKind but it is accurate and that's just bikeshedding 8)

[2016-11-15 09:34] robman commented on #142
+1 to 8bit grayscale

[2016-11-15 09:43] robman commented on #143
@huningxin should we add `measureType` (see #80 ) into the constraints here too?

[2016-11-15 13:13] astojilj commented on #143
+1. Thanks.

[2016-11-15 13:29] astojilj commented on #80
Copying the quote from the comment here to define measure type:
https://github.com/w3c/mediacapture-depth/pull/77#issuecomment-97066083

robman@, I understand that the use case for this is inverse linear relationship in [disparity mode of RealSense R200 camera:](https://github.com/IntelRealSense/librealsense/blob/master/doc/projection.md#depth-image-formats)
`float depth_in_meters = scale / image[

[2016-11-15 19:27] astojilj opened #145 "Should we do depth-video synchronization in browser, in JS, in both, what's v1 and what's v2?"
The API offers two possibilities to do synchronization:
1. inside browser code - by #138 Synchronization
2. In JS code - by #110 accessing camera calibrations (intrinsics and extrinsics)
Q1: Do we need both?
Q2: Do we need intrinsics&extrinsics for some other use case? Is deprojecting depth to 3D space an use case for v1?
Q3: Is manual calibration v1 use case?

If answer to Q2 or Q3 is "yes", then

[2016-11-15 19:28] astojilj commented on #110
v1&v2 scope feature split boils down to a question Issue #145.

[2016-11-16 02:38] huningxin commented on #142
The change was introduced by https://github.com/w3c/mediacapture-depth/pull/130.

+1 to 8bit grayscale too.

I suppose 8bit grayscale is still good for 8bit surface, like video->imageData and RGB/UNSIGNED_BYTE WebGL uploading. We should bring it back.

Y16 is one kind of 16bit grayscale.

The 16bit grayscale conversion is good for R16UI and Float WebGL uploading.

[2016-11-16 06:38] huningxin commented on #80
@robman I agree this is critical for accurate reprojection.

However, to my knowledge, the depth value is commonly `OpticalAxis` measurement type, like RealSense and Kinect. Do you know any camera or SDK provide the `OpticalRay` depth value?

If `OpticalAxis` is the default one, can we specify the measurement of depth value in this spec is `OpticalAxis` instead of adding `measurementType` constrai

[2016-11-16 06:40] huningxin commented on #143
@robman Do you have any suggestions? :)

[2016-11-16 06:41] huningxin commented on #143
Provided comments to #80. Sorry for late response.

[2016-11-16 06:51] astojilj commented on #145
@anssiko, @bbernhar, @fluffy, @huningxin, @robman  WDYT?

[2016-11-16 07:37] huningxin commented on #110
@robman , the intrinsics (no matter simple or full set) are for reprojection which is essential to `UC5: Mobile Augmented Reality and Spatial Scanning` in [wiki](https://www.w3.org/wiki/Media_Capture_Depth_Stream_Extension), am I correct?

If v1 doesn't expose principal point and distortion, do you suggest just ignore them or let UA handle that, saying undistorting in native? Any impacts to UC5?

[2016-11-23 11:57] astojilj commented on #110
@robman, @huningxin
I see that @huningxin's question is not difficult to answer.
De-projection and undistortion is not correct with only partly provided calibration - proposed would offer API that exposes errors.

@robman, could we please move this forward? There is a PR implementing this but is blocked on your proposal about [v1 and v2 split](https://github.com/w3c/mediacapture-depth/issues/110#i

[2016-12-09 01:33] #135 closed, assigned to nobody

[2016-12-09 10:44] astojilj commented on #110
Continuing argumentation why providing only part of intrinsics is not enough (that we need all the intrinsics and mapping depth to rgb camera space.):
For any eventual hand/gesture recognition in JS, to get lowest latency user would probably choose to use row depth data (unsynchronized to RGB as synchronizing depth to rgb for every point takes time) to detect where the e.g. hand is.
When detecting

[2016-12-13 09:19] mkollaro commented on #142
I find the term "16bit grayscale" a bit meaningless. What is the difference between the 16bit raw data before the conversion, and the 16bit grayscale? PC screens can show only an 8bit grayscale anyway. Maybe you meant something like a normalization based on Near and Far, instead of "conversion to grayscale"?

[2017-01-04 12:42] #136 closed, assigned to nobody

[2017-01-04 12:42] #137 closed, assigned to nobody

[2017-01-04 12:43] #134 closed, assigned to nobody

[2017-01-05 11:59] anssiko commented on #143
+1. This proposal future-proofs the API for additional video capture devices and makes the API for grouping of multiple devices more explicit reusing the `groupId` concept defined in mediacapture-main. As a tradeoff it makes the common case of requesting stream(s) is a bit more verbose, but that is a minor issue we can like with.

@huningxin can you stage a PR to address this issue that we could r

[2017-01-09 14:24] huningxin commented on #143
OK. I am going to stage a PR and let you review.

[2017-01-20 12:12] anssiko commented on #57
@astojilj promised to improve the examples inline with the API changes that will land soon.

[2017-01-20 12:14] anssiko commented on #145
After discussion with @astojilj we agreed this is now resolved, both issues are considered v1 and will be fixed soon.

[2017-01-20 12:14] #145 closed, assigned to nobody

[2017-01-24 08:43] #143 closed, assigned to nobody

[2017-02-01 07:57] anssiko opened #153 "Echidna publication fails after migration to the WebRTC CI system"
@vivienlacourba After your #147 landed, the Echidna publication seem to have started failing silently. Can you help fix this? The original setup was as such that pushing to the TR branch triggered a new WD publication.

The [staged WD spec][1] passes [Pubrules Checker][2] without errors.

There are no logs posted at https://lists.w3.org/Archives/Public/public-tr-notifications/ so unable to debug t

[2017-02-09 09:51] anssiko commented on #153
@vivienlacourba I just tried publishing again, Echidna still fails silently.

How do you suggest I debug this further? Or should I just revert #147 as a fix? We'd like to publish an updated WD soon.

[2017-02-15 14:15] anssiko commented on #57
Could reuse some examples for the @astojilj's article: https://01.org/chromium/blogs/astojilj/2017/depth-camera-capture-html5

I suggest checking any example code we add to the spec with http://jshint.com/.

[2017-02-22 13:28] kenchris commented on #57
The second example is impossible to follow as it only does half of what it says and just contains a lot of ... :-)

https://github.com/01org/depth-camera-web-demo/blob/master/depthdemo.html does more or less what it says, but contains optimizations using extensions etc. If that could be simplified somehow we might be able to include it some how...

Shaders could be multiline using ``

[code]

[2017-02-22 15:20] astojilj commented on #57
@kenchris
Unfortunately, seems that the second example is not going to be supported (upload 16 bit data to split R&G components).

Usage of floats mandates activating via extension (otherwise no way to use float and it is the only and seems like the best way):
in WebGL2: gl.getExtension('EXT_color_buffer_float');
in WebGL1: gl.getExtension('OES_texture_float'); (I also need to update the demo - th

[2017-02-22 16:08] kenchris commented on #57
@astojilj I guess we could change the example then to more or less what you are doing in your demo.

I think for the sake of the spec, showing webgl2 should be fine. It is an example after all and it will be widely supported (Safari said they will support it too in addition to their WebGPU work)

[2017-02-27 21:17] anssiko commented on #153
Fixed by reverting changes introduced in #147.

New WD published successfully: https://lists.w3.org/Archives/Public/public-tr-notifications/2017Feb/0169.html

[2017-02-27 21:17] #153 closed, assigned to vivienlacourba

[2017-03-06 11:57] #110 closed, assigned to nobody

[2017-03-23 08:00] astojilj commented on #138
The issues identified here look resolved now.

[2017-03-23 08:02] astojilj commented on #83
This seems resolved now.

[2017-03-23 08:06] #83 closed, assigned to nobody

[2017-03-23 08:06] #138 closed, assigned to nobody

[2017-03-23 08:19] anssiko opened #159 "Improve constrainable properties sections"
* We now link directly from the dictionary IDL members to the "Constrainable properties" sections where the expected behaviour for each dictionary member per kind (color or depth) should be defined. Ensure each of the constraints in these sections is defined properly.

* Editorial: convert the "constrainable properties" tables to simple prose. The tables make the columns too narrow for text, also

[2017-03-23 17:07] yell0wd0g commented on #159
@anssiko I had a similar issue when porting mediacapture-image to Constrainable Pattern.  Bikeshed is a delight for these matters.  I volunteer to port this Spec to Bikeshed if the editors are interested -- and we could remove that table that is indeed hard to read 😄

[2017-03-23 19:15] anssiko commented on #159
I think I managed to get reasonable results in #160 by removing the tables and using a dirty CSS hack to hide duplicate dfns. So let's see if we can resist porting a while longer, thanks for the offer anyways :-) We have a MathJax dependency with a custom build step in the spec, so porting might not be straight-forward in this case.

I use Bikeshed for some other specs, and agree it is more flexib

[2017-03-24 15:55] astojilj commented on #142
The section could be replaced altogether by e.g. a link to definition in OpenGL ES 3.0 (WebGL2) specification:
https://www.khronos.org/registry/OpenGL/specs/es/3.0/es_spec_3.0.pdf

2.1.6.1 ConversionfromNormalizedFixed-PointtoFloating-Point
2.1.6.2 ConversionfromFloating-PointtoNormalizedFixed-Point

This is because we don't actually need to expose the information that the depth is 16-bit (and we

[2017-03-28 08:33] #159 closed, assigned to nobody

[2017-04-10 11:57] #142 closed, assigned to nobody

[2017-04-13 08:15] anssiko opened #163 "Publish an updated Working Draft"
Note to self: given the recent spec updates to make it more complete, we should publish an updated Working Draft as soon as possible.

Publication blocked on https://github.com/w3c/respec/issues/1163#issuecomment-293822204

[2017-04-13 14:46] deniak commented on #163
I've added a temporary exception to pubrules and echidna so these specific CSS errors don't block the publications.

[2017-04-18 08:34] anssiko commented on #163
Thanks @deniak! Your temporary workaround unblocked this issue, and a new WD was just published:

https://www.w3.org/TR/2017/WD-mediacapture-depth-20170418/

[2017-04-18 08:34] #163 closed, assigned to anssiko

[2018-09-10 07:04] stefhak opened #164 "Point to public-webrtc"
Intro currently says comments should be brought to the (to be discontinued) public-media-capture list.

[2018-09-11 06:51] astojilj commented on #164
There is no intent to mark mediacacpture-depth as discontinued. What is the action required from mediacapture-depth editors? Thanks.

[2018-09-11 07:35] anssiko commented on #164
@stefhak is suggesting we replace all occurrences of "public-media-capture@w3.org" with "public-"webrtc@w3.org".

The public-media-capture@w3.org *mailing list* is to be discontinued, not this work.

[2018-09-11 08:04] astojilj commented on #164
Thanks @anssiko. No drama here then.

[2018-09-11 08:10] #164 closed, assigned to nobody

[2018-10-03 08:00] dontcallmedom opened #167 "transformMatrix in WebXR"
WebXR Device API uses [`transformMatrix`](https://immersive-web.github.io/webxr/#dom-xrray-transformmatrix) as a name, whereas this spec uses `transformationMatrix` - it would probably make sense to align the names (and possibly more).

[2019-03-01 11:44] anssiko opened #169 "Informative reference not found"
Informative reference [WEBGL-GET-BUFFER-SUB-DATA-ASYNC] points to a [WebGL extension](https://www.khronos.org/registry/webgl/extensions/WEBGL_get_buffer_sub_data_async/) that is 404.

The `GetBufferSubData()` now lives in the [WebGL 2.0 spec](https://www.khronos.org/registry/webgl/specs/latest/2.0/#3.7.3).

[2019-03-04 10:03] anssiko commented on #169
Fixed in #171.

[2019-03-04 10:03] #169 closed, assigned to nobody

[2019-07-19 06:27] dolko opened #173 "Unable to use MediaRecorder | ImageCapture.takePhoto() on a depth stream"
I am currently wondering if there is any scope at the moment to allow a depth stream to be recorded via MediaRecorder of for an image representation to be able to be taken with the ImageCapture.takePhoto() function

[2019-07-19 06:42] dolko commented on #173
Currently if you use either of these functions you receive back a blob with no data.

[2019-08-29 13:33] anssiko commented on #173
With which camera model you're experimenting with? @riju to investigate and report the current implementation status and plans in Chromium. I think we're lacking at least a standard image format that supports 16-bit depth that is web compatible.

[2019-11-27 04:46] robman opened #174 "Re-add the camera/depth map intrinsics"
Heya,

I think these should at least be 'optional' e.g. if available - especially on mobile platforms (which is really just Android right now).

In the Android Camera API these values are available - see https://developer.android.com/reference/android/hardware/camera2/CameraCharacteristics.html

Specifically this https://developer.android.com/reference/android/hardware/camera2/CameraCharacteristic

[2019-11-27 06:32] anssiko commented on #174
@astojilj is no longer working on this, looping in @riju instead.

[2019-12-11 03:13] robman commented on #174
Thanks @anssiko - I pinged him on twitter too 8)